{% extends "dashboard/_master.html" %}
{% block title %}HHLEARN - Dashboard - Region Setup{% endblock %}
{% block meta_title %}HHLEARN{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block content %}
<div class="page page-admin-setup" id="step_region" ng-app="step_region">
	<div class="row">
		 <div class="col-lg-12">
            <ol class="breadcrumb-alt">
                <li><a  href="{%  url 'dashboard_home' %}">Administrator</a></li>
                <li><a href="">Setup</a></li>
                <li class="active"><a href="">Step4</a></li>
            </ol>
        </div>
	</div>

	<div class="row">
		<div class="col-lg-12">
    		<div class="panel panel-default table-dynamic">
    			<div class="panel-heading">
    				<strong><span class="fa fa-cogs"></span>&nbsp;&nbsp;Step&nbsp;&nbsp;4</strong>    				
                </div>
                <div class="panel-body row">
					<div class="col-lg-12" style="padding: 0px; margin-top: -15px; ">
						<img width="100%" src="{{ STATIC_URL }}admin/images/setup/headers/4.1.jpg">					
						<div class="setup-progress">
							<div class="progress">
								<div class="progress-bar progress1" style="width: 20%;">Organizational Setup
									(100%)
								</div>
								<div class="progress-bar progress2" style="width: 20%;">
									Location Setup (100%)
								</div>
								<div class="progress-bar progress3" style="width: 20%;">
									Department Setup (100%)
								</div>
								<div class="progress-bar progress4" style="width: 20%;">
									Region Setup (100%)
								</div>
								<div class="progress-bar progress5" style="width: 20%;">Job
									Titles Setup (0%)
								</div>
							</div>
						</div>
					</div>

					<form method="post" action="{{ request.path }}">
						{% csrf_token %}
						<div class="setup-help text-right">
							<a href="#" data-toggle="modal" data-target="#help-video"><i class="fa fa-film"></i> Watch Me</a>
						</div>
						
						<div class="col-lg-12">	
							<div class="row">	
								<!-- Modal -->
								<div class="modal fade" id="help-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">HHLEARN -
													Setup Help Video</h4>
											</div>
											<div class="modal-body">
												<iframe width="560" height="315" src="//www.youtube.com/embed/6v2L2UGZJAM" frameborder="0" allowfullscreen></iframe>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">
													Close
												</button>
					
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
								<!-- /.modal -->
							</div>		
						
						
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="setup-info-text text-left">
										<p>
											As we mentioned earlier, you can further refine your organization by
											adding regions that can include locations and departments. Below you
											will see form fields to add a region; you may add locations and/or
											departments to these regions. If you need more than one region, click
											the (<i class="fa fa-plus-circle"></i>) icon to open up another set of region form fields. When you are done
											entering the region data, click the Save Region Data button to save the
											information. If you click on the Save & Next button, you will move to
											the next step.
										</p>						
									</div>
								</div>
							</div>
						
						
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group   {% if form.regions_enabled.errors %}has-error{% endif %}">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<label for="use_electronic_posting">{{ form.regions_enabled.label }}</label>
											</div>
										</div>
						
										<div class="row">
											<div class="col-sm-2 col-md-2 col-lg-2">
												<span class="label label-important">{{ form.regions_enabled.errors|first }}</span>												
												<label class="switch switch-iphone">													
													<input type="checkbox" name="{{form.regions_enabled.name}}" {% if form.regions_enabled.value == 1 %}checked="true"{% endif %}>
													<i></i>
												</label>
											</div>
										</div>
									</div>
								</div>
						
							</div>
						
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group   {% if form.total_regions.errors %}has-error{% endif %}">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<label for="total_regions">{{ form.total_regions.label }}</label>
											</div>
										</div>
						
										<div class="row">
											<div class="col-sm-2 col-md-2 col-lg-2">
												<div class="form-group">
													<span class="label label-important">{{ form.total_regions.errors|first }}</span>
													<div class="form-controls">
														{{ form.total_regions }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
						
							</div>
						
							<div class="row">
								<div class="col-lg-12">
									<p>
										Please make your selection and click on the “Save & Next” button to continue.
									</p>
								</div>
							</div>
							
							<hr>
						
						
							<div class="row">
								<div class="col-lg-12 text-center">
									<p class="text-center">
										<a href="{{ back_button_url }}" class="btn btn-blue btn-wide setup-back-button hidden-print">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="submit" class="btn btn-blue btn-wide setup-next-button hidden-print">Save
											& Next
										</button>
									</p>								
								</div>
							</div>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block extra_scripts %}
	<script src="/static/dashboard/admin/setup/region/js/region.js"></script>

{% endblock %}