{% extends "dashboard/_master.html" %}
{% block title %}Inservices{% endblock %}
{% block meta_title %}Inservices{% endblock %}
{% block meta_description %}Inservices{% endblock %}
{% block meta_keywords %}Inservices{% endblock %}


{% block content %}
    <div class="page page-inservices-main" ng-controller="profileCtrl">

        <div class="row">
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
	               <a href="#">
	                <span class="box-icon bg-btn3">
	                   <i class="glyphicons nameplate_alt"></i>
	                </span>	                

                    <div class="box-info">
                        <p class="size-h2">18</p>

                        <p class="text-muted"><span data-i18n="Trainers">Trainers</span></p>
                    </div>
                   </a>
                </div>
            </div> 
                       
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
	               <a href="#">
	                <span class="box-icon bg-btn4">
	                   <i class="glyphicons compass"></i>
	                </span>	                

                    <div class="box-info">
                        <p class="size-h2">67</p>

                        <p class="text-muted"><span data-i18n="Training Sites">Training Sites</span></p>
                    </div>
                   </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
	               <a href="#">
	                <span class="box-icon bg-btn7">
	                   <i class="fa fa-cubes"></i>
	                </span>	                

                    <div class="box-info">
                        <p class="size-h2">44</p>

                        <p class="text-muted"><span data-i18n="Resources">Resources</span></p>
                    </div>
                   </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
	               <a href="#">
	                <span class="box-icon bg-btn11">
	                   <i class="glyphicons keynote"></i>
	                </span>	                

                    <div class="box-info">
                        <p class="size-h2">22</p>

                        <p class="text-muted"><span data-i18n="Inservices">Inservices</span></p>
                    </div>
                   </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
	               <a href="#">
	                <span class="box-icon bg-btn5">
	                   <i class="fa fa-list-alt"></i>
	                </span>	                

                    <div class="box-info">
                        <p class="size-h2">12</p>

                        <p class="text-muted"><span data-i18n="Quick Reports">Quick Reports</span></p>
                    </div>
                   </a>
                </div>
            </div>
            
        </div>

    </div>



{% endblock %}


{% block extra_scripts %}

{% endblock %}