{% extends "dashboard/_master.html" %}
{% block title %}Reporting{% endblock %}
{% block meta_title %}Reporting{% endblock %}
{% block meta_description %}Reporting{% endblock %}
{% block meta_keywords %}Reporting{% endblock %}


{% block content %}
<div class="page page-resources" >
	<div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb-alt">
                <li><a  href="{%  url 'reporting_home' %}">Reporting</a></li>
                <li><a  href="{%  url 'reporting_verified_messaging' %}">Verified Messaging</a></li>
                <li class="active"><a href="">Message History Summary</a></li>
            </ol>
        </div>

    </div>
    
    <div class="panel panel-default" style="margin-bottom: 0px;">
	    <div class="panel-heading">
	        <div class="row">
	
	            <div class="col-xs-6 col-lg-6 text-left">
	                <strong><i class="fa fa-paper-plane"></i>&nbsp;&nbsp; Message History Summary</strong>
	            </div>
	            
	            <div class="col-xs-6 col-lg-6 text-right">
	            	<a href="#" style="color:#767676">
	                	<strong><i class="fa fa-print"></i> &nbsp;&nbsp;Print Report</strong>
	                </a>
	            </div>
	        </div>
	    </div>
	    <div class="panel-body">
	    	<div class="col-lg-12 text-center">
	    		<h3><strong>Message History Summary:&nbsp;</strong> as of {{ currentDate | date:'F d, Y' }}</h3>
	    	</div>
	    </div>
	</div>
	
	<div class="panel panel-default">
	    <div class="panel-heading">
	        <div class="row">	
	            <div class="col-xs-6 col-lg-6 text-left">
	                <strong><i class="glyphicons building"></i>&nbsp;Best Medical Supply,Inc</strong>
	            </div>	            
	        </div>
	    </div>
	    <div class="panel-body">
	    	<section data-ng-controller="messageHistoryBarChartCtrl">
	    	<div class="row">
	    	<div class="col-lg-12 text-center">	    		
                <!--<div morris-chart
                     data-data="comboData"
                     data-type="bar"
                     data-xkey="year"
                     data-ykeys='["a", "b", "c"]'
                     data-labels='["Value A", "Value B", "Value C"]'
                     data-bar-colors='["#31C0BE","#8170CA","#66B5D7"]'
                     ></div>-->
                 <!--<div data-sparkline
                              data-data="largeChart2.data"
                              data-options="largeChart2.options"
                              ></div>-->
                 <div style="width: 60%; height: 300px; margin:0 auto;">
	                 <div id="flot-gpa"
	                		 data-flot-chart
			                 data-data="barChart.data"
			                 data-options="barChart.options"
			                 style="height: 300px;"
			                 ></div>
		         </div>
	                
	    	</div>
	    	</div>
	    	</section>
	    	<section data-ng-controller="messageHistoryBarChartCtrl">	 
	    	<div class="row" style="margin-top:20px; padding-top:20px; border-top:solid 1px #ccc;">
	    		<div class="col-lg-12">
	    		<div class="table-report-compliance table-responsive">
		    	<table class="table table-bordered table-responsive table-report-messagehistory">
		            <thead>
		                <tr>
		                    <th><div class="th">
		                        Rank	                        
		                    </div></th>
		                    <th><div class="th">
		                        Pie			                        
		                    </div></th>
		                    <th><div class="th">
		                        %
		                    </div></th>
		                    <th><div class="th">
		                        Location Name						                        
		                    </div></th>
		                    <th><div class="th">
		                        Emp#
		                    </div></th>
		                    <th><div class="th">
		                        Sent						                        
		                    </div></th>
		                    <th><div class="th">
		                        Received
		                    </div></th>
		                    <th><div class="th">
		                        <i class="fa fa-minus-circle size-h3" popover="High Priority" popover-trigger="mouseenter"></i>
		                    </div></th>
		                    <th><div class="th">
		                        <i class="fa fa-exclamation-triangle size-h3" popover="Normal Priority" popover-trigger="mouseenter"></i>
		                    </div></th>
		                    <th><div class="th">
		                        <i class="fa fa-info-circle size-h3" popover="Low Priority" popover-trigger="mouseenter"></i>
		                    </div></th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr class="first-line">
		                	<td><i class="glyphicons building"></i></td>		                	
		                	<td><div data-flot-chart
		                         data-data="pieChart.data1"
		                         data-options="pieChart.options"
		                         style="width: 100%; height: 17px;"
		                         ></div></td>
		                	<td>78</td>
		                	<td style="text-align: left;">Best Medical Supply, Inc</td>
		                	<td>124</td>
		                	<td>1043</td>
		                	<td>810</td>
		                	<td>187</td>
		                	<td>557</td>
		                	<td>298</td>
		                </tr>
		                <tr>
		                	<td>6</td>		                	
		                	<td>
		                		<div data-flot-chart
		                         data-data="pieChart.data2"
		                         data-options="pieChart.options"
		                         style="width: 100%; height: 17px;"
		                         ></div>
		                    </td>
		                	<td>52</td>
		                	<td style="text-align: left;">Best Medical Supply</td>
		                	<td>12</td>
		                	<td>191</td>
		                	<td>100</td>
		                	<td>3</td>
		                	<td>100</td>
		                	<td>88</td>
		                </tr>
		                <tr>
		                	<td>1</td>		                	
		                	<td>
		                		<div data-flot-chart
		                         data-data="pieChart.data3"
		                         data-options="pieChart.options"
		                         style="width: 100%; height: 17px;"
		                         ></div>
		                    </td>
		                	<td>89</td>
		                	<td style="text-align: left;">Best Medical Supply Hospice</td>
		                	<td>8</td>
		                	<td>45</td>
		                	<td>40</td>
		                	<td>10</td>
		                	<td>23</td>
		                	<td>12</td>
		                </tr>
		                <tr>
		                	<td>2</td>		                	
		                	<td>
		                		<div data-flot-chart
		                         data-data="pieChart.data4"
		                         data-options="pieChart.options"
		                         style="width: 100%; height: 17px;"
		                         ></div>
		                    </td>
		                	<td>89</td>
		                	<td style="text-align: left;">Best Medical Homecare</td>
		                	<td>9</td>
		                	<td>103</td>
		                	<td>91</td>
		                	<td>21</td>
		                	<td>45</td>
		                	<td>36</td>
		                </tr>
		                <tr>
		                	<td>3</td>		                	
		                	<td>
		                		<div data-flot-chart
		                         data-data="pieChart.data5"
		                         data-options="pieChart.options"
		                         style="width: 100%; height: 17px;"
		                         ></div>
		                    </td>
		                	<td>84</td>
		                	<td style="text-align: left;">Best Medical Supply Hospice</td>
		                	<td>52</td>
		                	<td>460</td>
		                	<td>388</td>
		                	<td>100</td>
		                	<td>252</td>
		                	<td>108</td>
		                </tr>
		                <tr>
		                	<td>4</td>		                	
		                	<td>
		                		<div data-flot-chart
		                         data-data="pieChart.data6"
		                         data-options="pieChart.options"
		                         style="width: 100%; height: 17px;"
		                         ></div>
		                    </td>
		                	<td>79</td>
		                	<td style="text-align: left;">Best Medical Pharmacy</td>
		                	<td>10</td>
		                	<td>86</td>
		                	<td>68</td>
		                	<td>22</td>
		                	<td>54</td>
		                	<td>10</td>
		                </tr>
		                <tr>
		                	<td>5</td>		                	
		                	<td>
		                		<div data-flot-chart
		                         data-data="pieChart.data7"
		                         data-options="pieChart.options"
		                         style="width: 100%; height: 17px;"
		                         ></div>
		                    </td>
		                	<td>78</td>
		                	<td style="text-align: left;">Best Home Care</td>
		                	<td>33</td>
		                	<td>158</td>
		                	<td>123</td>
		                	<td>31</td>
		                	<td>83</td>
		                	<td>44</td>
		                </tr>		                
		                
		            </tbody>
		        </table>
		        </div>   
	        </div>
	        </div>
	        </section>
	    </div>
	</div>
</div>



{% endblock %}


{% block extra_scripts %}

{% endblock %}