{% extends "dashboard/_master.html" %}
{% block title %}HHLEARN - Dashboard - Job Titles Setup{% endblock %}

{% block meta_title %}HHLEARN{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}


{% block content %}
<div class="page page-admin-setup" id="step_job_titles" ng-app="step_job_titles">
	<div class="row">
		 <div class="col-lg-12">
            <ol class="breadcrumb-alt">
                <li><a  href="{%  url 'dashboard_home' %}">Administrator</a></li>
                <li><a href="">Setup</a></li>
                <li class="active"><a href="">Step5</a></li>
            </ol>
        </div>
	</div>

	<div class="row">
		<div class="col-lg-12">
    		<div class="panel panel-default table-dynamic">
    			<div class="panel-heading">
    				<strong><span class="fa fa-cogs"></span>&nbsp;&nbsp;Step&nbsp;&nbsp;5.1</strong>    				
                </div>
                <div class="panel-body row">
					<div class="col-lg-12" style="padding: 0px; margin-top: -15px; ">
						<img width="100%" src="{{ STATIC_URL }}admin/images/setup/headers/5.3.jpg">					
						<div class="setup-progress">
							<div class="progress">
								<div class="progress-bar progress1" style="width: 20%;">Organizational Setup
									(100%)
								</div>
								<div class="progress-bar progress2" style="width: 20%;">
									Location Setup (100%)
								</div>
								<div class="progress-bar progress3" style="width: 20%;">
									Department Setup (100%)
								</div>
								<div class="progress-bar progress4" style="width: 20%;">
									Region Setup (100%)
								</div>
								<div class="progress-bar progress5" style="width: 20%;">Job
									Titles Setup (10%)
								</div>
							</div>
						</div>
					</div>

					<form method="post" action="{{ request.path }}">
						{% csrf_token %}
						<div class="setup-help text-right">
							<a href="#" data-toggle="modal" data-target="#help-video"><i class="fa fa-film"></i> Watch Me</a>
						</div>
						
						<div class="col-lg-12">	
							<div class="row">	
								<!-- Modal -->
								<div class="modal fade" id="help-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">HHLEARN -
													Setup Help Video</h4>
											</div>
											<div class="modal-body">
												<iframe width="560" height="315" src="//www.youtube.com/embed/6v2L2UGZJAM" frameborder="0" allowfullscreen></iframe>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">
													Close
												</button>
					
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
								<!-- /.modal -->
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="setup-info-text text-left">
										<p>
											In this section we have displayed a list of all active job titles on
											HHLEARN. By default we have removed all job titles that did not match
											the services you stated your organization performed. If you want to see
											the removed job titles, click the "Show All" link.
										</p>
						
										<p>
											Please select all job titles that you currently use at your <strong>entire</strong>
											organization. On the next page you will be given the opportunity to
											modify the name of the job title as well as refine the list for
											locations and departments (as appropriate).
										</p>
									</div>
								</div>
							</div>
						
						
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="form-group">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<label for="use_electronic_posting">
													Job Titles
												</label>
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
												<label for="use_electronic_posting">
													<a href="{{ show_all_url }}" >{{show_all_text}} </a>
												</label>
											</div>
										</div>
								
										<div class="row">						
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="form-group">
								
													<div class="row">
														{% load my_custom_tags %}
							
														{% for field in form %}
															<div class="col-sm-6 col-md-6 col-lg-6">
															{% if field|is_checkbox %}
																<label class="checkbox" for="{{ field.name }}">
																	<label class="ui-checkbox" for="{{ field.name }}">
																		<input type="checkbox" id="{{ field.name }}" name="{{ field.name }}" data-toggle="checkbox" {% if field.data == True %}checked{% endif %}>
																		<span>{{ field.label }}</span>																
																	</label>
																</label>
															{% endif %}
															</div>
														{% endfor %}
													</div>
												</div>							
											</div>							
										</div>
										
									</div>
								</div>
							</div>
							
							<hr>
							
							<div class="row">
								<div class="col-lg-12 text-center">
									<p class="text-center">
										<a href="{{ back_button_url }}" class="btn btn-blue btn-wide setup-back-button hidden-print">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="submit" class="btn btn-blue btn-wide setup-next-button hidden-print">Save
											& Next
										</button>
									</p>								
								</div>
							</div>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>
</div>
						


{% endblock %}

{% block extra_scripts %}
	<script src="/static/dashboard/admin/setup/job_title/js/job_title.js"></script>

{% endblock %}