{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<h1 class="span12">Testing</h1>

			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Testing</li>
				</ul>
			</div>

		</div>
		<!-- end row-->


		<div class="row">
			<div class="span12">
				<img src="{{ STATIC_URL }}website/common/pages/plan/1170x300.gif">

			</div>
		</div>


		<div class="row mtl">
			<div class="span6">
				<h4>TRUE TESTING</h4>

				<p>A true test of an e-learning site's value is the retention of the information taught.
					Almost every
					e-learning site allows users to download the course and test and then come back
					at a later time and take
					the test. This is not learning! This is called a paper push. Allowing users
					access to courses and tests
					offline is tantamount to cheating and provides a piece of paper that is
					usless.</p>
			</div>


			<div class="span6">
				<h4>COMPETENCY</h4>

				<p>In the pool of questions for each course are questions coded as competency questions,
					which mean they
					never show up on general knowledge exams. When it is time to test an employee's
					overall competence, the
					competency questions from the various courses are pooled to generate a
					competency examination. This
					means users are accountable for every course they complete and no employee will
					receive the same
					competency test.</p>
			</div>


		</div>

		<div class="row">

			<div class="span6">
				<h4>GENERAL KNOWLEDGE</h4>

				<p>General knowledge tests account for a majority of the exams on HHLEARN and test the
					overall knowledge of
					a course that is neither a continuing education or competency exam.</p>
			</div>


			<div class="span6">
				<h4>CONTINUING EDUCATION</h4>

				<p>Continuing education tests are examinations that have continuing education credits
					and provide
					professionals with FREE training to meet professional licensing
					requirements.</p>
			</div>


		</div>

		<div class="row">
			<div class="span12">
				<h3 class="mbl mtl pbm border">CERTIFICATES OF COMPLETION

				</h3>

			</div>
		</div>

		<div class="row">
			<div class="span3">

				<img src="{{ STATIC_URL }}website/common/pages/testing/testingPhoto_2.png">
			</div>


			<div class="span9">

				<p>
					HLEARN has developed different certificates of completion (COC) for each type of
					test. The system is designed so applicable certificates are provided to each
					user. A user can receive multiple COCs for the successful passing of one exam.
					An example would be the completion of a CE test; since each COC has different
					requirements, the user would receive a general knowledge and a continuing
					education certificate.
				</p>

				<p>
					Each of the certificates of completion is emailed to each individual upon
					successful completion of the test. In addition to emailing the COCs, HHLEARN
					stores each certificate in portable document format (PDF) for printing at any
					time. The passing percentage for each type of test is adjustable for each
					organization. Test taking on HHLEARN is the most flexible and yet simple in the
					e-learning industry.
				</p>

			</div>


		</div>


	</div> <!-- end container-->
{% endblock %}