{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}
{% block content %}

	<div class="container feature-page">
	<div class="row">
	<h1 class="span12">Features</h1>

	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="#">Pages</a> <span class="divider">/</span></li>
			<li class="active">Features</li>
		</ul>
	</div>
	<!-- =========================Start Col left section ============================= -->
	<aside class="span4">
		<a href="/signup" type="submit" class="btn-block button_medium btn-large text-center">Become a
			subscriber</a>
		<!--    <div class="col-left2">
		      --  <h3>Quick Links</h3>
			   <ul class="list-unstyled feature-page-sidebar">
			       <li><h5><a href="/login"><i class="icon-double-angle-right"></i> Login</a></h5></li>
			       <li><h5><a href="/signup"><i class="icon-double-angle-right"></i> Signup</a></h5></li>
			       <li><h5><a href="/events"><i class="icon-double-angle-right"></i> Calender of events</a></h5></li>
			       <li><h5><a href="/faq"><i class="icon-double-angle-right"></i> FAQs</a></h5></li>
			       <li><h5><a href="/contacts"><i class="icon-double-angle-right"></i> Contacts</a></h5></li>
			       <li><h5><a href="/terms"><i class="icon-double-angle-right"></i> Terms & Conditions</a></h5></li>
			       <li><h5><a href="/privacy"><i class="icon-double-angle-right"></i> Privacy</a></h5></li>
			       <li><h5><a href="/moreinfo"><i class="icon-double-angle-right"></i> Ask for more information</a></h5></li>
			   </ul>
			    <hr/>



		    </div> -->
		<hr/>
		<div class="box-style-2 red">
			<a href="contact.html" title="Plan a visit">
				<img src="{{ STATIC_URL }}website/common/img/icon-home-visit.png" alt="">

				<h3>Plan a visit</h3>

				<p>
					Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu
					eros feugiat, elitr iudico ad pri.
				</p>
			</a>
		</div>

		<div class="box-style-2 green">
			<a href="all-courses.html" title="All Courses">
				<img src="{{ STATIC_URL }}website/common/img/icon-home-course.png" alt="">

				<h3>Courses</h3>

				<p>
					Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu
					eros feugiat, elitr iudico ad pri.
				</p>
			</a>
		</div>

		<div class="box-style-2 orange">
			<a href="contact.html" title="Apply">
				<img src="{{ STATIC_URL }}website/common/img/icon-home-apply.png" alt="">

				<h3>Apply now</h3>

				<p>
					Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu
					eros feugiat, elitr iudico ad pri.
				</p>
			</a>
		</div>


	</aside>

	<!-- =========================Start Col right section ============================= -->
	<div class="span8">

		<div class="row">
			<div class="span8">
				<div id="myCarousel" class="carousel slide">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="1" class="active"></li>
						<li data-target="#myCarouse2" data-slide-to="2" class=""></li>
						<li data-target="#myCarouse3" data-slide-to="3" class=""></li>
						<li data-target="#myCarouse4" data-slide-to="4" class=""></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img src="{{ STATIC_URL }}website/common/pages/features/Features_Employee_Centric.jpg" alt="">

							<div class="carousel-caption">
								<h4>EMPLOYEE-CENTRIC</h4>

								<p>HHLEARN course curriculums are designed specifically
									around each job description in the home health
									industry and are customizable to meet your
									organization's specific needs.</p>
							</div>
						</div>
						<div class="item">
							<img src="{{ STATIC_URL }}website/common/pages/features/Features_Self_Directed.jpg" alt="">

							<div class="carousel-caption">
								<h4>SELF-DIRECTED</h4>

								<p>Adult learners need a learning system that allows
									them to self-direct their education and see
									their results. Improving KSAs (Knowledge,
									Skills, and Abilities) increases opportunties
									and satisfaction.</p>
							</div>
						</div>
						<div class="item">
							<img src="{{ STATIC_URL }}website/common/pages/features/Features_Assured_Learning.jpg" alt="">

							<div class="carousel-caption">
								<h4>ASSURED LEARNING</h4>

								<p>HHLEARN's learning management system has at its core
									an "outcomes" model, which means we successfully
									train employees, but more importantly we assure
									learning.</p>
							</div>
						</div>

						<div class="item">
							<img src="{{ STATIC_URL }}website/common/pages/features/Features_Return_On_Investment.jpg" alt="">

							<div class="carousel-caption">
								<h4>RETURN ON INVESTMENT</h4>

								<p>Utilizing proven technologies, HHLEARN develops
									dynamic educational resources that enables your
									organization to benefit from lower training
									costs, increased patient satisfaction, and
									better patient outcomes.</p>
							</div>
						</div>


					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span8">
				<h2>WHAT ELSE CAN HHLEARN DO?</h2>
			</div>
		</div>

		<hr/>
		<div class="row">


			<div class="span8">
				<h4><i class="icon-hand-right"></i> MODULAR DESIGN</h4>

				<p>HHLEARN breaks content into smaller chunks that can be combined in unique ways for
					each learner. These learning modules build upon each other and take an employee
					from general knowledge to specific job duties.</p>
			</div>

		</div>

		<hr/>

		<div class="row">

			<div class="span8">
				<h4><i class="icon-hand-right"></i> SELF-PACED</h4>

				<p>Employees may learn at a pace that is just right for them. Employees can speed up,
					slow down, or even challenge a course at any time.</p>
			</div>


		</div>

		<hr/>

		<div class="row">


			<div class="span8">
				<h4><i class="icon-hand-right"></i> MODULAR DESIGN</h4>

				<p>HHLEARN breaks content into smaller chunks that can be combined in unique ways for
					each learner. These learning modules build upon each other and take an employee
					from general knowledge to specific job duties.</p>
			</div>

		</div>


		<hr/>


		<div class="row">


			<div class="span8">
				<h4><i class="icon-hand-right "></i> ACCESSIBILITY</h4>

				<p>HHLEARN provides an Internet-based e-learning system available to subscribers 24
					hours a day, 7 days a week, 365 days a year, from anywhere with Internet
					access.</p>
			</div>

		</div>


		<hr/>

		<div class="row">


			<div class="span8">
				<h4><i class="icon-hand-right"></i> MULTIPLE LEARNING STYLES</h4>

				<p>Home care, home medical equipment, hospice, and pharmacy personnel are as unique as
					we are diverse and they all have different ways of learning. HHLEARN
					accommodates this by making available multiple auditory and visual delivery
					methods geared to different learning styles.</p>
			</div>
		</div>


		<hr/>

		<div class="row">


			<div class="span8">
				<h4><i class="icon-hand-right "></i> ACTIVE NOT PASSIVE</h4>

				<p>HHLEARN is dynamic, which means the course is customized on the fly for the
					individual and has instant messaging capability during the course.</p>
			</div>

		</div>


		<hr/>

		<div class="row">

			<div class="span1">

			</div>


			<div class="span8">
				<h4><i class="icon-hand-right"></i> BIMODAL PRESENTATION</h4>

				<p>Bimodal presentation (audio and visual) improves reading comprehension, information
					recall, and learning/memory enhancement.</p>
			</div>

		</div>


	</div>

	</div>
	<!-- end row-->
	</div> <!-- end container-->
{% endblock %}