{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

	<div class="container">

	<div class="row">
		<h1 class="span12">Privacy Policy</h1>

		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="#">Home</a> <span class="divider">/</span></li>
				<li class="active">Privacy</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h3> Dynamic Agenda - HHLEARN.com</h3>

			<p>PRIVACY POLICY </p>

			<p>Effective as of: January 1, 2014

				<br/>
				Date of Last Revision: N/A
			</p>
		</div>
		<div class="span6 text-right">
			<a class="print-button" href="javascript:window.print()"><i href="javascript:window.print()" class="icon-print icon-4x"></i></a>
		</div>
	</div>
	<div class="row">
	<div class="span12 faq-box">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#scope" href="#scope">
				Scope of Privacy Policy

			</a>
		</div>
		<div id="scope" class="accordion-body in collapse" style="height: auto;">
			<div class="accordion-inner">
				<p>
					This policy applies to website visitors, current and potential users, former
					users, and any other user of services offered through Dynamic Agenda, Inc.,
					Cambridge Center, LLC, and HHLEARN.com (“HHLEARN” or “we”), including any
					websites or mobile applications operated by or on their behalf. This policy
					applies to both online and offline collection, storage, processing, and transfer
					of Personal Information. </p>

				<p>Certain Sites or services may be subject to additional privacy policies or privacy
					disclosures relating to the services provided on the Site(s) (collectively
					"Additional Policies"). In the event of any direct conflict between any
					Additional Policies and this policy, the Additional Policies will control. </p>

				<p> HHLEARN may amend or otherwise modify this Privacy Policy at any time, so please
					re-visit this page periodically to check for updates. The date of last revision
					is shown at the top of this document.
				</p>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#definitions" href="#definitions">
				1. Definitions
			</a>
		</div>
		<div id="definitions" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>

					As used in this Privacy Policy, the following terms have the following
					meanings: </p>

				<p>"Business Associates" means third party service providers which Dynamic Agenda, Inc.
					or HHLEARN.com may contract with to provide services on our behalf including but
					not limited to, Social Networking, hosting, web analytics, lead generation,
					academic, business services. </p>

				<p>"Educational Partners" means a.) Dynamic Agenda, Inc., Cambridge Center, LLC, and
					their subsidiaries and affiliates including educational companies or
					institutions that Dynamic Agenda, Inc. or its subsidiaries may be providing
					educational or other related services to under contract and b.) third party
					companies who may participate in Dynamic Agenda, Inc. or Cambridge Center, LLC
					educational initiatives (e.g. seminar organizations or professionals). </p>

				<p>"Financial Information" means specific Organizational or Personal Information of a
					financial nature such as credit card numbers. </p>

				<p>"Information" means any Information collected and includes: "Personal Information",
					"Financial Information", "Web Analytical Information" or any other Information
					collected from you through our Sites. </p>

				<p>"Personal Information" means Information that may be used, alone or in combination,
					to identify a specific individual and includes Financial Information. </p>

				<p>"Site" or "Sites", means websites operated by or exclusively on behalf of Dynamic
					Agenda or Cambridge Center, LLC, regardless of domain name or IP address. </p>

				<p>"Social Network", means various Internet communication technologies provided on Sites
					that facilitate conversation and interaction between people online and includes,
					but is not limited to, blogs, discussion forums, wikis, chat sessions, news
					groups, etc. </p>

				<p>"Social Network Content" (or "SNC") means user-generated content you consent to share
					via a Social Network and includes, but is not limited to, Personal Information,
					digital sounds, and pictures that you upload to a Social Network. It also
					includes your Personal Information that may be displayed on other users' Social
					Network pages. </p>

				<p>"We", "us", and "our" refer to Dynamic Agenda, Inc. and HHLEARN.com. </p>

				<p>"Unrelated Entities" means third parties that are not Educational Partners and who
					are not providing services as Business Associates. </p>
				</p>"Web Analytical Information" means internet-generated Information we collect when
				you visit our Sites. This Information may be linked with Personal Information. When
				linked with other Information identifying you personally, either alone or in combination
				with other Information, then such Information also will be considered Personal
				Information.      </p>


			</div>
		</div>
	</div>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Collected" href="#Collected">
				2. How We Collect Information

			</a>
		</div>
		<div id="Collected" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>We collect various types of Information from you through our Sites and other websites
					where you can express interest in our services, through our mobile applications,
					over the phone, via printed forms, and in person. Some Information is collected
					automatically through various web and internet technologies including Social
					Networking tools used by your University. Other Information is collected when
					you provide it to us voluntarily. We may also obtain information from
					Educational Partners and Unrelated Entities and combine that with information we
					collect about you.

				</p>

			</div>
		</div>
	</div>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#information" href="#information">
				3. Information Collected Automatically on the Sites

			</a>
		</div>
		<div id="information" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>Each time you visit one of our Sites, Web Analytical Information is automatically
					gathered. In general, this Information does not identify you personally.
					Examples of Web Analytical Information include, but are not limited to:</p>

				<ul>

					<li>• IP address</li>
					<li>• Collection Date</li>
					<li>• Browser Name and Version</li>
					<li>• Browser Name and Version</li>
					<li>• Day of Week Time of Day (hour)</li>
					<li>• Language settings</li>
					<li>• Language settings</li>
					<li>• Domain (.com, .net, .mil, .org, .edu, etc.)</li>

				</ul>

				<br/>

				<p>

					This Information may be linked with Personal Information to accomplish the
					purposes described in this Privacy Policy.

				</p>

			</div>
		</div>
	</div>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Provide" href="#Provide">
				4. Information You Provide to Us

			</a>
		</div>
		<div id="Provide" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>In addition to the Web Analytical Information automatically collected when you visit
					our Sites, HHLEARN also collects, uses, and discloses Personal Information that
					you provide to us voluntarily online or offline when you respond to an
					advertisement, a survey, or a request for information; register for classes;
					order educational or other products and services; set up a Social Network or
					other Site profile; or use one of our educational resources, learning
					assessments or other interactive tools. While the exact nature of the Personal
					Information may vary depending on the type of response or service requested, the
					following is a non-exclusive list of the types of Information that may be
					collected to the extent it is necessary and applicable for the intended
					purposes:</p>

				<ul>

					<li>• First, Middle and Last Name, Previous Names</li>
					<li>• Street Address, City, State, Country, Postal Code</li>
					<li>• Date of Birth</li>
					<li>• Place of Birth</li>
					<li>• Gender</li>
					<li>• Employer</li>
					<li>• E-mail address</li>
					<li>• Phone Number</li>
					<li>• Prior Education History</li>
					<li>• Lead Source</li>
					<li>• Individual Record Number (IRN) or Social Security Number</li>
					<li>• Credit Card Number</li>
					<li>• Social Networking Content</li>
					<li>• Learning, Skill, or Career Assessment data</li>
					<li>• Other Information after you become a member such as course assignments,
					</li>
					grades and other educational records relating to your enrollment at HHLEARN.com
					and that may be required to be collected in the normal course of your
					studies.        </li>


				</ul>

				<br/>

			</div>
		</div>
	</div>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Disclose" href="#Disclose">

				5. How We Use and Disclose This Information

			</a>
		</div>
		<div id="Disclose" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>

					Personal Information </p>

				<p>We will not sell, rent or lease your Personal Information to others except in
					accordance with this policy. </p>

				<p>We may collect, use, and disclose Personal Information for the following purposes:


				</p>
				<ul>

					<li>• to determine your admissibility and to register you for your selected
						educational programs;
					</li>
					<li>• to provide requested products and services;</li>
					<li>• to respond to your inquiries and provide customer support;</li>
					<li>• to administer promotions in which you have indicated an interest;</li>
					<li>• for our internal marketing purposes, which includes, but is not limited
						to, sending you material about products, services, updates, newsletters,
						etc. that we think may be of interest to you;
					</li>
					<li>• for fostering communication and collaboration among members of your
						workplace community through Social Networks;
					</li>
					<li>• for sharing with our Educational Partners who may contact you with respect
						to their educational or other services ;
					</li>
					<li>• for sharing with our Educational Partners or Business Associates who are
						performing services on our behalf;
					</li>
					<li>• to analyze how Sites and services are being accessed and used;</li>
					<li>• to improve Site and service performance and delivery;</li>
					<li>• to prevent potentially illegal activities (including illegal downloading
						of copyrighted materials in accordance with our Copyright Infringement
						policy);
					</li>
					<li>• to analyze academic and learning outcomes and preferences;</li>
					<li>• to analyze risk and business results;</li>
					<li>• to obtain payment for services that we provide to you;</li>
					<li>• to maintain business records for reasonable periods;</li>
					<li>• to enforce our Terms of Use;</li>
					<li>• to provide to Educational Partners, Business Associates or Unrelated
						Entities in connection with the contemplated or actual reorganization,
						merger, acquisition, financing, securitization, insuring, sale or other
						disposal of all or part of our business or assets, including for the
						purposes of determining whether to proceed with such transaction or
						fulfilling any records or other reporting requirements to such parties.
						In the event of any actual reorganization, merger, or acquisition such
						Information may be transferred as part of the transaction to the
						acquirer and/or as may be required or permitted by legal, regulatory,
						industry self-regulatory, insurance, audit, or security requirements
						applicable to HHLEARN, our Educational Partners, or our Business
						Associates.
					</li>
				</ul>
				<br/>

				<p>Express Consent to Receive Pre-Recorded Voice Messages, Text Messages and Calls Using
					an Autodialer </p>

				<p>In connection with the uses set forth above, we may use an automatic telephone
					dialing system (autodialer), artificial or prerecorded voice messages, and text
					messages to provide you with various communications. Further, when you provide
					us with a cellular, wireless, or mobile telephone number as your contact number,
					you agree that you are providing us with your express consent to receive calls
					using an automated dialing system, prerecorded voice messages, or text messages
					related to your enrollment. If you do not wish to receive these updates on your
					cellular or mobile phone, please provide us with a land-based telephone
					number. </p>

				<p>Financial Information </p>

				<p>Your and Your Organization Financial Information will be used to provide requested
					products and services, to analyze operational and business results, to analyze
					risk, and for concluding your registration or other transaction you have
					initiated with us. It will not be sold, rented, or otherwise transferred to an
					Educational Partner, Business Associate, or Unrelated Entity outside of these
					purposes, except in the case of a reorganization, merger or acquisition of our
					shares or assets.</p>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Location" href="#Location">
				6. Location of Information Processing

			</a>
		</div>
		<div id="Location" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>We operate or may process information in multiple jurisdictions and some Educational
					Partners and Business Associates may be located outside of the jurisdiction in
					which you reside. In such cases, your Personal Information may be collected,
					used, disclosed, stored and processed in these other jurisdictions for the
					purposes described in this Privacy Policy. The data protection and other laws of
					the United States and other countries might differ from your jurisdiction. We
					require our Educational Partners and Business Associates to use your Personal
					Information in accordance with this policy and to take reasonable steps to
					ensure that your privacy is protected in accordance with applicable laws. Please
					be advised that, by using our Sites and services, you are consenting to the
					transfer and processing of your Information across international borders. Your
					Information may be subject to the laws of those other jurisdictions, including
					lawful requirements to disclose Personal Information to government
					authorities.</p>


			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Opt-Out" href="#Opt-Out">
				7. Opt-Out
			</a>
		</div>
		<div id="Opt-Out" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>Marketing Communications</p>

				<p>If you do not wish to receive marketing email communications from us, you may express
					your choice where indicated on the applicable email or other communication, or
					<a href="#"> click here.</a></p>

				<p>If you do not wish to receive marketing telephone calls or mailings, you may express
					your choice to opt-out by emailing privacy@hhlearn.com. </p>

				<p>Marketing opt-out requests will only remove you from our list and the list of any
					Business Associate performing services on our behalf. We are not responsible for
					the use any other party may make of the Information once it has been transferred
					in accordance with this Policy and you will need to contact such entity to have
					your Information removed from their database. </p>

				<p>Student and Organizational Educational Records and Social Networking Content </p>

				<p>You may change various user settings related to sharing your Personal Information
					contained in any user profile you set up as part of Social Network activities
					furnished by us, subject to contractual, academic, legal or technical
					restrictions and reasonable notice. Note that your withdrawal from Social
					Network activities might prevent us from providing you with certain products or
					services. </p>

				<p>Other Collection, Use, and Disclosure </p>

				<p>In any situation not covered by the foregoing, you may be able to opt-out of our
					collection, use and disclosure of your Personal Information subject to
					applicable contractual, academic, legal or technical restrictions and reasonable
					notice. Note that if you opt-out of certain uses of your Personal Information,
					we may no longer be able to provide certain products or services. For more
					information on your ability to opt-out, email privacy@hhlearn.com. </p>

			</div>
		</div>
	</div>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#California" href="#California">
				8. Your California Privacy Rights

			</a>
		</div>
		<div id="California" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>

					Under California’s Shine the Light law, Cal. Civ. Code § 1798.83, we provide
					California residents the ability to opt out of disclosures to Educational
					Partners for direct marketing purposes. To opt out of these disclosures at no
					cost, email <a link="mailto:privacy@hhlearn.com">privacy@hhlearn.com</a>.

				</p>


			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Security" href="#Security">

				9. Our Security Measures

			</a>
		</div>
		<div id="Security" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>
					We will take commercially reasonable measures to secure and store your
					Information to protect against the loss, misuse, and alteration of the
					Information under our control. We utilize industry standard security measures
					when accepting your credit card Information during the online ordering process,
					as well as whenever we ask you to login to any of our Sites. </p>

				<p>Unfortunately, no data transmission over the internet can be guaranteed to be
					completely secure. As a result, although we will utilize such measures, we do
					not guarantee you against the loss, misuse, or alteration of Information under
					our control, and you provide Information to us at your own risk. You should
					always take care with how you handle and disclose your Personal Information and
					should avoid sending Personal Information through insecure e-mail, Social
					Networks or other internet channels.


				</p>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Monitoring" href="#Monitoring">
				10. Monitoring of Communications

			</a>
		</div>
		<div id="Monitoring" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>

					We may monitor and retain all incoming and outgoing communications for training
					of our representatives and for quality assurance purposes. To the extent such
					communications are selected, they are only retained as long as necessary to
					adequately discharge these purposes, unless a specific communication needs to be
					retained for legal reasons. If you prefer that your communications not be
					retained for any reason, please advise your representative.


				</p>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Internet" href="#Internet">
				11. Internet Technologies Used
			</a>
		</div>
		<div id="Internet" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>Cookies, web beacons, and other relevant internet technologies are used on our Sites
					to allow us to accomplish the uses set out above as well as to deliver Sites
					messaging and to keep track of your Information. These small pieces of program
					code reside in your computer and browser and can be removed. If you desire to
					remove such technologies you may do so, but this may render our Sites unusable
					to you. You can opt out of cookies or the other internet technologies used by
					disabling these features in your browser program. Consult your browser's "Help"
					menu for assistance in changing cookie settings or removing cookie files.</p>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Hosting" href="#Hosting">

				12. Site Hosting and Links from Our Sites to Other Websites

			</a>
		</div>
		<div id="Hosting" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>Some of our Sites may contain links to websites hosted by Educational Partners,
					Unrelated Entities, and Business Associates operating websites on their own
					behalf or on behalf of multiple entities. Some of these websites may collect
					your Personal Information and may apply their own policies on how your Personal
					Information is used. In addition, some of our Sites may have Additional Policies
					that apply to the use of Personal Information collected on that Site. Please
					make sure to read the policies of any websites you visit on the internet
					carefully. Please be aware that we are not responsible for the privacy practices
					or the content of any websites that are not operated by or exclusively for us,
					and the collection, use, and disclosure of Information about you will be subject
					to the policies applicable on those websites.</p>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Changes" href="#Changes">

				13. Privacy Policy Changes
			</a>
		</div>
		<div id="Changes" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>HHLEARN may update this Privacy Policy or revise it from time to time. You should
					contact us as described below or check back at this Site periodically to obtain
					a current copy of this Privacy Policy. We urge you to review this Privacy Policy
					frequently to obtain the current version. Your continued provision of Personal
					Information or use of our services following any changes to this Privacy Policy
					constitutes your acceptance of such changes. If we intend to use Information
					that personally identifies you in a manner materially different from what we
					stated at the time it was collected, we will attempt to notify you at least 30
					days in advance. You will be given a choice as to whether or not previously
					provided Information may be used in a new way.</p>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#Representations" href="#Representations">

				14. How to Access Your Information and Contact Us

			</a>
		</div>
		<div id="Representations" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>If you want access to or wish to update any of your Personal Information or have any
					questions about our privacy practices, please contact our Compliance Officer at
					<a href="mailto:privacy@hhlearn.com">privacy@hhlearn.com</a> or:</p>

				<p>Dynamic Agenda, Inc. <br/>
					Attn: Compliance Officer <br/>
					1111 Main, Suite 1A <br/>
					St Petersburg, FL 33380 </p>

			</div>
		</div>
	</div>

	<hr>


	</div>
	</div>
	</div>

{% endblock %}
