{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

	<div class="container testimonial-page">
	<div class="row">
		<h1 class="span12">Testimonials</h1>

		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="#">Home</a> <span class="divider">/</span></li>
				<li class="active">Testimonials</li>
			</ul>
		</div>
		<!-- =========================Start Col left section ============================= -->
		<div class="span8">
			<iframe id="videolink" src="http://player.vimeo.com/video/66028661?title=0&amp;byline=0&amp;portrait=0" width="650" height="400" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="1"></iframe>
		</div>

		<!-- =========================Start Col right section ============================= -->
		<div class="span4">
			<div class="col-right">
				<h3 class="text-center" id="txt-companyname"> Company Name</h3>
				<h5 class="" id="txt-employeename">Bob Jonson</h5>
				<h5 class="" id="txt-employeeposition">President/CEO</h5>
				<hr/>
				<h5 class="">Number of Locations: <span id="txt-employeecount">xx</span></h5>
				<h5 class="">Number of Empolyee: <span id="txt-locationcount">xx</span></h5>

				<p id="txt-description">Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti
					corpora</p>
				<hr/>
				<a href="/signup" type="submit" class="btn-block button_medium btn-large text-center">Become
					a Subscriber</a>
			</div>
		</div>

	</div>
	<!-- end row-->
	<hr/>
	<div class="row">
		<div class="span12">
			<h3>Client Testimonials</h3>
		</div>
		<div class="span12 clientTestimonial">
			<div id="clientTestimonial" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">

					<div class="item active">
						<div class="row text-center">
							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>

								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->
						</div>
					</div>

					<div class="item">
						<div class="row text-center">
							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->
						</div>
					</div>
				</div>
				<!-- /INNER-->
				<!-- Carousel nav -->
				<a class="left carousel-control" href="#clientTestimonial" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#clientTestimonial" data-slide="next">›</a>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12">
			<h3>Customer Testimonials</h3>
		</div>
		<div class="span12 customerTestimonial">
			<div id="customerTestimonial" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">

					<div class="item active">
						<div class="row text-center">
							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."
								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->
						</div>
					</div>

					<div class="item">
						<div class="row text-center">
							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."


								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->

							<!-- ITEM-->
							<div class="span3">
								<img data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
								     data-companyname="XYZ Inc"
								     data-employeename="Bob Jonson"
								     data-employeeposition="President/CEO"
								     data-employeecount="400"
								     data-locationcount="23"
								     data-description="Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti corpora. Qui cu eros feugiat, elitr iudico ad pri."

								     src="http://placehold.it/270x150"/>
								<h5 class="text-left">Bob Jonson, President/CEO</h5>

								<p class="text-left">
									<i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i><i class="icon-star make-it-blue"></i>
								</p>
							</div>
							<!-- ITEM-->
						</div>
					</div>
				</div>
				<!-- /INNER-->
				<!-- Carousel nav -->
				<a class="left carousel-control" href="#customerTestimonial" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#customerTestimonial" data-slide="next">›</a>
			</div>
		</div>
	</div>


	</div> <!-- end container-->
{% endblock %}