{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}


{% block content %}

	<div class="container">

	<div class="row">
		<h1 class="span12">Web Site Code of Conduct</h1>

		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="#">Home</a> <span class="divider">/</span></li>
				<li class="active">Code of Conduct</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<h3> Dynamic Agenda - HHLEARN.com</h3>

			<p>WEB SITE CODE OF CONDUCT</p>

			<p>Effective as of: January 1, 2014

				<br/>
				Date of Last Revision: N/A
			</p>
		</div>
		<div class="span6 text-right">
			<a class="print-button" href="javascript:window.print()"><i href="javascript:window.print()" class="icon-print icon-4x"></i></a>
		</div>
	</div>
	<div class="row">
	<div class="span12 faq-box">

	<p>
		The HHLEARN Code of Conduct is essential to our learning management system, but
		your understanding of these rules and requirements is even more important.
		That's why we have policies for organizations (Terms & Condition) and for
		individual members. Each user is responsible for understanding this Code of
		Conduct even if it changes. You are advised to check back often to verify your
		understanding of the Code.
	</p>


	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#representation" href="#representation">
				I. Representation

			</a>
		</div>
		<div id="representation" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>Every member of the HHLEARN learning system is expected to
					represent him or herself honestly and respectfully in
					all situations. Honest and respectful representation
					includes, but is not limited to, providing only truthful
					material information on all HHLEARN personal profiles,
					surveys, forms, and professional licenses data, as
					applicable. Members are also expected to behave
					respectfully to all HHLEARN administrators and
					employees. Members will not consciously misrepresent him
					or herself to any member of HHLEARN or in their online
					use of HHLEARN.com.</p>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#academic-honesty" href="#academic-honesty">
				II. Academic Honesty

			</a>
		</div>
		<div id="academic-honesty" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>

					Members are expected to maintain the highest standards
					of academic integrity. Work that is not of the member’s
					own completion will receive no credit. If a member is
					uncertain of what these standards are, he or she may
					consult his or her manager or any HHLEARN administrator
					or employee for appropriate counsel, but a member's
					ignorance is no legitimate defense for academic
					dishonesty. Academic dishonesty includes lying,
					cheating, sharing coursework of any kind (including on a
					Social Network), providing your password to another
					person, using any form of technology to obtain or copy
					course materials or test questions, and using
					unauthorized materials on any general, continuing
					education or competency exam.

				</p>
				<ul>
					<li> • The act of lying is to intentionally provide
						false information or a false statement with the
						purpose of misleading or with irresponsible
						regard of the truth. Lying, in both academic and
						non-academic activities, is impermissible.
					</li>
					<li> • Cheating is acting dishonestly in order to gain
						an unfair advantage. Cheating includes giving or
						receiving unauthorized aid on any general,
						continuing education or competency. Cheating
						also includes using the same material of work
						and providing it to another member for their
						use.
					</li>
					<li> • Stealing is the act of taking without permission
						and without intention to return. The prohibition
						of stealing includes intellectual property,
						e.g., the forms and publication libraries,
						course content, reports, etc.
					</li>
				</ul>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#respect-terms-conditions" href="#respect-terms-conditions">
				III. Respect for Terms & Conditions

			</a>
		</div>
		<div id="respect-terms-conditions" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>
					Individual members of HHLEARN are expected to adhere to
					the Terms &amp; Conditions that were agreed to by your
					organization (or yourself if signed up as an individual)
					and are available on every webpage in the bottom footer.
				</p>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#respect-ideas" href="#respect-ideas">
				IV. Respect for the Open Exchange of Ideas
			</a>
		</div>
		<div id="respect-ideas" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>Students shall be guaranteed that their First Amendment right
					of Freedom of Speech will be observed by all District
					and college members, including other students. Students
					are encouraged to engage others in thoughtful and
					meaningful dialogue while refraining from acting or
					using language with malicious intent.</p>

				<p> Classroom Conduct: Students must behave respectfully toward
					their peers and professors. In the classroom setting,
					students may not interrupt their classmates or
					professor, make fun of them or their expressed views, or
					disrupt the learning environment. It is important to
					maintain the best learning environment for all students
					and professors. </p>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#best-practices" href="#best-practices">
				V. Best Practices and Commonsense Rules

			</a>
		</div>
		<div id="best-practices" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				<p>Online learning requires technology in order to utilize as it
					is intended, however, the misuse of this technology can
					harm you and/or your organization. The following list of
					rules is considered best practice rules and/or
					commonsense rules that you will be held accountable.</p>
				<ul>
					<li>1. Never provide your log-on password to any other
						person. Protect your password by selecting a
						strong password (using numbers, letters, mixed
						case letters, and special characters) and
						changing it often. Never use “password,” date of
						birth, social security number, or any other word
						or phrase that easily guessable by another
						person.
					</li>
					<li>2. You are responsible for your conduct while logged
						in to HHLEARN.com. You must comply with all the
						Terms & Conditions as well as other rules as
						directed by HHLEARN. Your conduct can affect the
						organization’s subscription to HHLEARN.
					</li>
					<li>2. You are responsible for your conduct while logged
						in to HHLEARN.com. You must comply with all the
						Terms & Conditions as well as other rules as
						directed by HHLEARN. Your conduct can affect the
						organization’s subscription to HHLEARN.
					</li>
					<li>4. Do not copy the course content in any manner,
						which includes paper, electronic, or audible.
					</li>
					<li>4. Do not copy the course content in any manner,
						which includes paper, electronic, or audible.
					</li>
				</ul>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#liability" href="#liability">
				VI. Liability

			</a>
		</div>
		<div id="liability" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">

				<p>HHLEARN makes no warranties of any nature or kind, expressed
					or implied, regarding its online services or resources,
					the continued operation of these services, the equipment
					and facilities used and their capacities, or the
					suitability, operability and safety of any program or
					file posted on HHLEARN systems for any intended
					purpose.</p>

			</div>
		</div>
	</div>


	</div>

	<br/>
	<br/>


	</div>
	</div>
	</div>

{% endblock %}
