{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}
{% block content %}

	<div class="container">

		<div class="row">
			<h1 class="span12">Contact Us</h1>

			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="index.html">Home</a><span class="divider">/</span></li>
					<li class="active">Contact</li>
				</ul>
			</div>
			<!-- =========================Start Col left section ============================= -->
			<aside class="span4">
				<div class="col-left">
					<h3>Address</h3>
					<ul>
						<li><i class="icon-home"></i> 11 Fifth Ave, Loftus - NEW JERSEY, US</li>
						<li><i class="icon-phone"></i> Telephone: + 61 (2) 8093 3400</li>
						<li><i class="icon-phone-sign"></i> Fax: +61 (2) 9542 3599</li>
						<li><i class="icon-envelope"></i> Email: <a href="#">submissions@domain.com</a>
						</li>
					</ul>
					<hr>
					<iframe height="250" src="https://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=new+york&amp;sll=40.714353,-74.005973&amp;sspn=0.868126,2.422485&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+Stati+Uniti&amp;t=m&amp;z=10&amp;iwloc=A&amp;ll=40.714353,-74.005973&amp;output=embed" style="border:0;">
					</iframe>
					<br>
					<small>
						<a href="https://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=new+york&amp;sll=40.714353,-74.005973&amp;sspn=0.868126,2.422485&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+Stati+Uniti&amp;t=m&amp;z=10&amp;iwloc=A&amp;ll=40.714353,-74.005973" style="text-align:left">View
							bigger</a></small>

				</div>

			</aside>

			<!-- =========================Start Col right section ============================= -->
			<section class="span8 ">
				<div class="col-right">
					<p class="lead">
						Whether you are looking for more information, or you'd like to let us
						know
						how we did, please fill in the form below and we will contact you
						accordingly.
					</p>
					<hr>
					<h4>Contact Information</h4>

					<div id="message-contact"></div>
					<form method="post" action="assets/contact.php" id="contactform">
						<div class="row">
							<div class="span3">
								<label>First Name
									<span class="required">* </span></label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your frst name" type="text" class="span3 ie7-margin" id="name_contact">
							</div>
							<div class="span3">
								<label>Last name
									<span class="required">* </span></label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your last name" type="text" class="span3 ie7-margin" id="lastname_contact">
							</div>
						</div>
						<div class="row">
							<div class="span3">
								<label>Email <span class="required">* </span></label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your email address" type="email" id="email_contact" class="span3 ie7-margin">
							</div>
							<div class="span3">
								<label>Phone <span class="required">* </span></label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your phone number" type="text" id="phone_contact" class="span3 ie7-margin">
							</div>
						</div>
						<div class="row">
							<div class="span23">
								<label>Organization Name</label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your organization name" type="text" id="org_name" class="span6 ie7-margin">
							</div>
						</div>


						<div class="row">
							<div class="span3">
								<label>Street Address 1 </label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your street address 1" type="email" id="street_address_1" class="span3 ie7-margin">
							</div>
							<div class="span3">
								<label>Street Address 2 </label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your street address 2" type="text" id="street_address_2" class="span3 ie7-margin">
							</div>
						</div>


						<div class="row">
							<div class="span3">
								<label>City </label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your city" type="email" id="street_address_1" class="span3 ie7-margin">
							</div>
							<div class="span2">
								<label>State </label>
								<select style="height: 35px;" class="span2">
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">District Of Columbia</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
							<div class="span1">
								<label>Zip Code </label>
								<input rel="tooltip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Enter your zip code" type="text" id="street_address_2" class="span1 ie7-margin">
							</div>
						</div>


						<div class="row">
							<div class="span2">
								<label>Contact Method</label>
								<select style="height: 35px;" class="span2">
									<option value="">Select</option>

								</select>
							</div>
							<div class="span2">
								<label>Contact Time </label>
								<select style="height: 35px;" class="span2">
									<option value="">Select</option>

								</select>
							</div>

							<div class="span2">
								<label>Time Zone
									<span class="required">* </span></label>
								<select style="height: 35px;" class="span2">
									<option value="">Select</option>

								</select>
							</div>
						</div>


						<div class="row">
							<div class="span3">
								<label><span class="required">*</span> Anti Spam
									protection? 3 + 1 =</label>
								<input type="text" id="verify_contact" class="span2">
							</div>
							<div class="button-align span3">
								<input type="submit" id="submit-contact" value="Submit" class=" button_medium">
							</div>
						</div>
						<hr>
					</form>


				</div>
				<!-- end col right-->
			</section>
		</div>
		<!-- end row-->
	</div>
{% endblock %}