{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}
{% load current_tags %}
<div class="container">
<div class="row">
	<div class="span12">
		<img src="{{ STATIC_URL }}website/common/pages/plan/1170x300.gif">

	</div>
</div>
<hr/>

<div class="row">
	<div class="span12 plan-box">

		<ul id="planTab" class="nav nav-tabs">

			<li class="active">
				<a href="#pro" data-toggle="tab">
					Professional Edition
				</a>
			</li>

			<li class="">
				<a href="#sbe" data-toggle="tab">
					Small Business Edition
				</a>
			</li>


		</ul>
		<div id="planTabmyTabContent" class="tab-content">


			<div class="tab-pane active" id="pro">


				<div class="row mtl">


					<div class="span9">
						<div class="plan_details_left_box">
							<p>
								{Professional Edition} A subscription to HHLEARN is only
								pennies a day. The price
								to subscribe is based
								on
								the range of employees
								that are loaded. The pricing points have been designed
								for common organizational
								sizes. There is no
								prorating of each employee on the system. Once an
								employee is deactivated they
								cannot be reactivated.
								Their records are stored, but cannot be utilized like an
								active employee. This
								limitation is only used
								to prevent organizations from turning employees on and
								off and to keep their
								employee limits within the
								subscribed quantity.
							</p>
						</div>

					</div>

					<div class="span3">
						<div class="plan_details_right_box">
							<h4>
								Sign up
								<i class="icon-user-md"></i>
							</h4>

							<p>
								df fevervrvds efevevefw fveve e hsjsm has dajhs dsajd
								asj dahsjd asdhasj dashd hasd
								ashdiasb dhasd as dahs.
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="span12">
						<h3 class="mtl">Customization</h3>

						<p>
							df fevervrvds efevevefw fveve e hsjsm has dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.
						</p>

						<h3 class="mtl">Advance Features</h3>

						<p>
							df fevervrvds efevevefw fveve e hsjsm has dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.
						</p>


						<h3 class="mtl">Benchmarking</h3>

						<p>
							df fevervrvds efevevefw fveve e hsjsm has dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.
						</p>
					</div>
				</div>


			</div>


			<div class="tab-pane" id="sbe">


				<div class="row mtl">


					<div class="span9">
						<div class="plan_details_left_box">
							<p>
								{Small Business Edition} A subscription to HHLEARN is
								only pennies a day. The pric
								e to subscribe is based
								on
								the range of employees
								that are loaded. The pricing points have been designed
								for common organizational
								sizes. There is no
								prorating of each employee on the system. Once an
								employee is deactivated they
								cannot be reactivated.
								Their records are stored, but cannot be utilized like an
								active employee. This
								limitation is only used
								to prevent organizations from turning employees on and
								off and to keep their
								employee limits within the
								subscribed quantity.
							</p>
						</div>

					</div>

					<div class="span3">
						<div class="plan_details_right_box">
							<h4>
								Sign up
								<i class="icon-user-md"></i>
							</h4>

							<p>
								df fevervrvds efevevefw fveve e hsjsm has dajhs dsajd
								asj dahsjd asdhasj dashd hasd
								ashdiasb dhasd as dahs.
							</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="span12">
						<h3 class="mtl">Customization</h3>

						<p>
							df fevervrvds efevevefw fveve e hsjsm has dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.
						</p>

						<h3 class="mtl">Advance Features</h3>

						<p>
							df fevervrvds efevevefw fveve e hsjsm has dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.
						</p>


						<h3 class="mtl">Benchmarking</h3>

						<p>
							df fevervrvds efevevefw fveve e hsjsm has dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.df fevervrvds efevevefw fveve e hsjsm has
							dajhs dsajd asj dahsjd
							asdhasj dashd hasd
							ashdiasb dhasd as dahs.
						</p>
					</div>
				</div>


			</div>


		</div>
	</div>
</div>
</div>

{% endblock %}
