{% extends "dashboard/_master.html" %}
{% block title %}HHLEARN - Dashboard{% endblock %}
{% block meta_title %}HHLEARN{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block content %}

<div class="page page-courses" ng-controller="courseController">

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb-alt">
                <li><a href="{% url 'dashboard_home' %}">Dashboard</a></li>
                <li class=""><a href="{% url 'assignments' %}">Assignments</a></li>
                <li ng-show="courseData.name" class="active"><a>{[ courseData.name ]}</a></li>
            </ol>
        </div>

    </div>

    <div class="panel panel-default">
    <div class="panel-heading">
        <div class="row" ng-show="courseData.currentPage == 0">
            <div class="col-xs-4   col-lg-4 text-left">
                <strong><i class="fa fa-graduation-cap"></i> {[ courseData.name ]}</strong>
            </div>
            <div class="col-xs-4   col-lg-4 text-center">
                <strong> <span ng-show="courseData.hours==1">Hour</span><span
                        ng-show="courseData.hours!=1">Hours</span>: {[ courseData.hours ]}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span ng-show="courseData.pages.length>=1">Pages</span>: {[ courseData.totalPages ]} </strong>
            </div>
            <div class="col-xs-4   col-lg-4 text-right">
                <strong> {[ courseData.number ]} </strong>
            </div>
        </div>

        <div class="row" ng-show="courseData.currentPage > 0">
            <div class="col-xs-4 text-left">
                <strong> <i class="fa fa-graduation-cap"></i> {[ courseData.name ]} </strong>
            </div>
            <div class="col-xs-4 text-center">
                <strong> <i class="cursor-pointer fa fa-angle-double-left"
                            ng-click="loadPreviousPage(courseData.currentPage)"></i>
                    Page {[ courseData.currentPage ]} of {[ courseData.totalPages ]}
                    <i ng-hide="courseData.currentPage == courseData.totalPages || courseData.type == 2 || courseData.type == 4"
                       class="cursor-pointer fa fa-angle-double-right"
                       ng-click="loadNextPage(courseData.currentPage)"></i> </strong>
            </div>
            <div class="col-xs-4 text-right">
                <strong> {[ courseData.number ]} </strong>
            </div>
        </div>
    </div>

    <div class="slimScrollDiv">
    <div class="panel-body">
    <div class="row">
    <div class="col-lg-12">

    <div ng-hide="courseData" class="text-center" style="display: none">
        <img width="25%" src="{{ CDN_URL }}dashboard/common/BadURL.png">
        <h5>
            Oops, it appears as though you requested a page that does not exist.
        </h5>
        <p>Please use the “Back” button to return to the previous page.</p>
        <p class="text-center">
            <a href="{% url 'dashboard_home' %}" class="btn btn-info btn-wide setup-back-button hidden-print">Back</a>
        </p>
    </div>

    <div ng-show="courseData">
        <div ng-show="courseData.currentPage == 0">
            <div class="row">
                <div class="col-lg-12" ng-show="courseData.number">
                    <img width="100%" src="{{ STATIC_URL }}dashboard/courses/images/banners/{[ courseData.number ]}.jpg"
                         alt="{[ courseData.number ]}" title="{[ courseData.name ]}" name="{[ courseData.name ]}">
                </div>
                <div class="col-xs-12  text-right pull-right intro-tool-bar">
                    <div class="course-toolbar pull-right">
                        <ul class="list-unstyled list-inline">
                            <li id="tools">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Tools"
                                   ng-click="toggleTools()"><i class="fa fa-cog fa-spin fa-3"></i></a>
                            </li>
                            <li class="" id="notes" ng-hide="tools">
                                <!--<a href="#" data-toggle="tooltip" data-placement="top" title="Notes"><i
                                        data-toggle="modal"
                                        data-target="#courseNotes"
                                        class="fa fa-pencil fa-3"></i></a>-->
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Notes">
                                    <i ng-click="openCourseNotesModal()" class="fa fa-pencil fa-3"></i>
                                </a>

                            </li>
                            <li class="readLoud" id="readLoud" ng-hide="tools">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Listen to Text"><i
                                        class="fa fa-volume-up fa-3" onclick="speakCourseSummaryWord();"></i></a>
                            </li>
                            <li class="" id="glossary" ng-hide="courseData.has_glossary == 0 || tools == 1">
	                            <a href="#" data-toggle="tooltip" data-placement="top" title="Glossary">
                                    <!--<i  data-toggle="modal" data-target="#glossary-words" class="fa fa-book fa-3"></i>-->
                                    <i ng-click="openGlossaryWordsModal()" class="fa fa-book fa-3"></i>
                                </a>
	                        </li>
	                        <li class="" id="agencyRerrals" ng-hide="courseData.has_referral_agencies == 0 || tools == 1">
	                            <a href="#" data-toggle="tooltip" data-placement="top" title="Agency Referrals">
                                    <!--<i data-toggle="modal" data-target="#referralAgencies" class="fa fa-users fa-3"></i>-->
                                    <i ng-click="openReferralAgenciesModal()" class="fa fa-users fa-3"></i>
                                </a>
	                        </li>
	                        <li class="" id="appendix" ng-hide="courseData.has_appendices == 0 || tools == 1">
	                            <a href="#" data-toggle="tooltip" data-placement="top" title="Appendix">
                                    <!--<i data-toggle="modal" data-target="#appendixModal" class="fa fa-folder-open-o fa-3"></i>-->
                                    <i ng-click="openAppendixModal()" class="fa fa-folder-open-o fa-3"></i>
                                </a>
	                        </li>
                            <li class="" id="fontSize" ng-hide="tools">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Font Size">
                                    <!--<i data-toggle="modal" data-target="#textSize" class="fa fa-text-height fa-3"></i>-->
                                    <i ng-click="openTextSizeModal()" class="fa fa-text-height fa-3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="readspeaker_button2" class="rs_skip rsbtn rs_preserve" style="float:right; display:none;">
			    <a rel="nofollow" class="rsbtn_play" accesskey="L" title="Listen to this page using ReadSpeaker" href="http://app.eu.readspeaker.com/cgi-bin/rsent?customerid=5&lang=en_us&amp;voice=Paul&readid=course_summary_content&url=">
			        <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Listen</span></span></span>
			        <span class="rsbtn_right rsimg rsplay rspart"></span>
			    </a>
			</div>
            <div id="course_summary_content" class="course_content">
	            <div class="row">
	                <div class="col-lg-12">
	                    <strong> Course Summary: </strong>
	                    <p class="course-summary" ng-html-compile="courseData.long_description"> </p>
	                </div>
	            </div>
	            <div class="row" ng-show="courseData.type == 2">
	            	<div class="col-lg-12">
	            		<div class="callout callout-red">
                 			<h4>Notice:</h4>
                 			<p>
                 				This course does <u>not</u> require a test. At the conclusion of the course you will be asked to attest to understanding 
                 				the course content. As a way to enhance the quality of education, the “Challenge” feature has been disabled and each page 
                 				is timed. The navigation button “Next” will also be disabled until the allotted time has passed. <B>Please</b> pay attention  
                 				to each course page because you are attesting to {[ userData.location.short_name ]} that you understand the course content.
                 			</p>
                 		</div>
	            	</div>
	            </div>
                <div class="row" ng-show="courseData.type == 4">
	            	<div class="col-lg-12">
	            		<div class="callout callout-red">
                 			<h4>Notice:</h4>
                 			<p>
                 				This course has a time requirement. The “Challenge” feature has been disabled and each page is timed.
                                The navigation button “Next” will also be disabled until the allotted time has passed.
                 			</p>
                 		</div>
	            	</div>
	            </div>
	            <div class="row">
	                <div class="col-lg-12">
	                    <strong> Learning Objectives: </strong>
	                    <ul>
	                        <li ng-repeat="objective in courseData.objectives">
	                            <span ng-html-compile="objective.description"> </span>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-12">
	                    <strong>Regulations: </strong>
	                    <ul>
	                        <li ng-repeat="regulation in courseData.regulations"> {[regulation.reg_code]}
	                        </li>                        
	                    </ul>
	                    <div class="callout callout-yellow" ng-show="courseData.regulations.length == 0">
	                    	<p>There are no current federal or state regulations/laws that are covered by this course.</p>
	                    </div>
	                </div>
	            </div>            
	            <div class="row">
	                <div class="col-lg-12">
	                    <strong ng-show="courseData.accreditation.enabled == 1">{[ courseData.accreditation.agency_name ]} Standards/Critieria: </strong>
	                    <ul>
	                        <li ng-repeat="standard in courseData.accreditation.standards"> {[standard]}
	                        </li>                        
	                    </ul>
	                    <div class="callout callout-yellow" ng-show="courseData.accreditation.standards.length == 0">
	                    	<p>There are no current {[ courseData.accreditation.agency_name ]} standards/criteria that are covered by this course.</p>
	                    </div>
	                </div>
	            </div>
	            
            </div>
        </div>

        <div class="row" ng-show="courseData.currentPage > 0">
            <div class="col-xs-12 text-right pull-right">
                <div class="course-toolbar pull-right">
                    <ul class="list-unstyled list-inline">
                        <li id="tools">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Tools"
                               ng-click="toggleTools()"><i
                                    class="fa fa-cog fa-spin fa-3"></i></a>
                        </li>
                        <li class="" id="notes" ng-hide="tools">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Notes">
                            	<!--<i data-toggle="modal" data-target="#courseNotes" class="fa fa-pencil fa-3"></i>-->
                                <i ng-click="openCourseNotesModal()" class="fa fa-pencil fa-3"></i>
                            </a>
                        </li>
                        <li class="readLoud" id="readLoud" ng-hide="tools">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Listen to Text"><i
                                    class="fa fa-volume-up fa-3"  onclick="speakCourseWord();"></i></a>
                        </li>
                        <li class="" id="glossary" ng-hide="courseData.has_glossary == 0 || tools == 1">
                           <a href="#" data-toggle="tooltip" data-placement="top" title="Glossary">
                                <!--<i  data-toggle="modal" data-target="#glossary-words" class="fa fa-book fa-3"></i>-->
                                <i ng-click="openGlossaryWordsModal()" class="fa fa-book fa-3"></i>
                            </a>
                        </li>
                        <li class="" id="agencyRerrals" ng-hide="courseData.has_referral_agencies == 0 || tools == 1">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Agency Referrals">
                                <!--<i data-toggle="modal" data-target="#referralAgencies" class="fa fa-users fa-3"></i>-->
                                <i ng-click="openReferralAgenciesModal()" class="fa fa-users fa-3"></i>
                            </a>
                        </li>
                        <li class="" id="appendix" ng-hide="courseData.has_appendices == 0 || tools == 1">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Appendix">
                                <!--<i data-toggle="modal" data-target="#appendixModal" class="fa fa-folder-open-o fa-3"></i>-->
                                <i ng-click="openAppendixModal()" class="fa fa-folder-open-o fa-3"></i>
                            </a>
                        </li>
                        <li class="" id="fontSize" ng-hide="tools">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Font Size">
                                <i ng-click="openTextSizeModal()" class="fa fa-text-height fa-3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

		<div id="readspeaker_button1" class="rs_skip rsbtn rs_preserve" style="float:right; display:none;">
		    <a rel="nofollow" class="rsbtn_play" accesskey="L" title="Listen to this page using ReadSpeaker" href="http://app.eu.readspeaker.com/cgi-bin/rsent?customerid=5&lang=en_us&amp;voice=Paul&readid=course_content&url=">
		        <span class="rsbtn_left rsimg rspart"><span class="rsbtn_text"><span>Listen</span></span></span>
		        <span class="rsbtn_right rsimg rsplay rspart"></span>
		    </a>
		</div>
        <div class="row mtm" ng-show="courseData.currentPage > 0">        	
            <div class="col-lg-12" ng-swipe-rightX="loadPreviousPage(courseData.currentPage)"
                 ng-swipe-leftX="loadNextPage(courseData.currentPage)">
                <!--<div ng-html-compile="pageHTML"></div>-->
                <div id="course_content" ng-html-compile="pageHTML" class="course_content" style=""></div>
                <!--<div id="course_content1" ng-html-compile="pageHTML" style="voice-family:"></div>-->                
            </div>
        </div>

        <hr/>
        <div class="row mtl">
            <div class="col-xs-2 text-left" >
                <button  ng-hide="courseData.currentPage != 0" class="btn btn-info btn-wide hidden-print btn-block" ng-disabled="courseData.type == 2 || courseData.type == 4">
                    Challenge
                </button>
            </div>
            <div class="col-xs-2  col-xs-offset-5 text-center" ng-hide="courseData.currentPage == 0">
                <a href="javascript:;" ng-click="loadPreviousPage(courseData.currentPage)"
                   class="btn btn-block btn-warning btn-direction btn-left" onclick="stopSpeaking();">Back</a>
            </div>

            <div class="col-xs-1 text-center" ng-hide="(courseData.type != 2 && courseData.type != 4) || duration == 0 || courseData.currentPage == 0">
            	<a href="javascript:;"  class="btn btn-block btn-info">
            		{[ duration ]}
            	</a>
            </div>
            
            <div ng-hide="courseData.currentPage == courseData.totalPages" class="col-xs-2  text-right" ng-class="(courseData.currentPage == 0) ? 'col-xs-offset-6' : ''">
                <a href="javascript:;"
                   ng-click="loadNextPage(courseData.currentPage)" ng-disabled="canNextPage == false"
                   class="btn btn-block btn-success btn-direction btn-right" onclick="stopSpeaking();">Next</a>
            </div>
            <div class="col-xs-2  text-right" ng-show="courseData.currentPage == courseData.totalPages" 
            ng-class="(courseData.currentPage == 0) ? 'col-xs-offset-6' : ''">
                <a href="javascript:;"
                   ng-click="startTest()" ng-disabled="canNextPage == false"
                   class="btn btn-block btn-danger btn-direction btn-right" onclick="stopSpeaking();">Start Test</a>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <!--<div class="modal fade" id="courseNotes" tabindex="-1" role="dialog" aria-labelledby="courseNotes"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                   
                    <div class="row">
						<div class="col-lg-12">						
							<div class="title-section">
								<h4>
									<img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
									<strong>Course Notes: </strong>
								</h4> 
								<span class="title">{[ courseData.number ]}</span>
							</div>
							<a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" data-dismiss="modal">X</a>							
						</div>
					</div>
                </div>
                
                <div class="modal-body">
                    <textarea class="form-control" rows="3" maxlength="{[courseNotesLimit]}" id="text_course_notes"
                              ng-maxlength="{[courseNotesLimit]}" ng-model="courseNotes" value="{[courseData.user_notes]}">{[courseData.user_notes]}</textarea>
                    <span class="form-help">{[courseNotes.length]}-{[courseNotesLimit]} Characters</span>
                    <p id="p_course_notes" style="display:none;"></p>
                </div>
                
                <div class="modal-footer">
                    <div class="row">                       
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="saveUserNote(courseNotes)"
                                    ng-disabled="courseNotes.length > courseNotesLimit">Save Notes
                            </button>
                            <button type="button" class="btn btn-print print screen">
                                PRINT
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    
    <!-- Modal -->
    <!--<div class="modal fade" id="referralAgencies" tabindex="-1" role="dialog" aria-labelledby="referralAgencies"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
						<div class="col-lg-12">						
							<div class="title-section">
								<h4>
									<img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
									<strong>Referral Agencies: </strong>
								</h4> 
								<span class="title">{[ courseData.number ]}</span>
							</div>
							<a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" data-dismiss="modal">X</a>							
						</div>
					</div>
                </div>                    
                <div class="modal-body">
                    <div class="callout callout-blue" ng-repeat="agency in courseData.referral_agencies">
                		<h4>{[agency.name]}</h4>                
                		<p>{[agency.address1]}<br>
                			<span ng-show="agency.address2 !=''">{[agency.address2]}<br></span>
                			{[agency.city]},&nbsp;{[agency.state]},&nbsp;{[agency.zip]}<br>Phone: {[agency.phone]}<br>
                			<span ng-show="agency.fax !=''">Fax: {[agency.fax]}<br></span>
                			<span ng-show="agency.tty_phone !='' && agency.tty_phone != undefined">TTY: {[agency.tty_phone]}</font><br></span>
                			<span ng-show="agency.tty_phone == '' || agency.tty_phone == undefined">TTY: N/A</font><br></span>
                			{[agency.website]}
                		</p>
                		<p>{[agency.referral_agency_description]}</p>
                	</div>
                </div>
                
                <div class="modal-footer">
                    <div class="row">                        
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">

                            <button type="button" class="btn btn-default screen" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-print print screen">
                                PRINT
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->


    <!-- Modal -->
    <!--<div class="modal fade" id="appendixModal" tabindex="-1" role="dialog" aria-labelledby="appendix"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                    
                    <div class="row">
						<div class="col-lg-12">						
							<div class="title-section">
								<h4>
									<img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
									<strong>Appendix: </strong>
								</h4> 
								<span class="title">{[ courseData.number ]}</span>								
							</div>							
							<a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" data-dismiss="modal">X</a>							
						</div>
					</div>
                </div>
                <div class="modal-body">
                    <p ng-bind-html="to_trusted(courseData.appendix || 'No Appendix Data')"></p>
                </div>
                <div class="modal-footer">
                    <div class="row">                        
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">                        	
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-print print screen">
                                PRINT
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Modal -->
    <!--<div class="modal fade" id="textSize" tabindex="-1" role="dialog" aria-labelledby="courseNotes" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                    
                    <div class="row">
						<div class="col-lg-12">						
							<div class="title-section">
								<h4>
									<img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
									<strong>Font Size: </strong>
								</h4> 
								<span class="title">{[ courseData.number ]}</span>								
							</div>							
							<a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" data-dismiss="modal">X</a>							
						</div>
					</div>
                </div>
                <div class="modal-body">
                    <p>
                        Please select font size. Your selection will be saved and selected font size will
                        be used as default font size for your courses.
                    </p>

                    <div class="row">
                        <div class="col-lg-12">
                            <div style="margin: 15px;">                                   
			                   	<input id="font_slider" 
			                   		type="hidden"
		                           ui-range-slider
		                           data-slider-min="1"
		                           data-slider-max="3"
		                           data-slider-step="1"
		                           data-slider-orientation="horizontal"		                           
		                           data-slider-selection="before"
		                           data-slider-tooltip="hide"
		                           data-slider-handle="round"		                           
		                           >			                   			                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>Sample Text</strong>

                            <p ng-style="{'font-size':fontSizeSlider}">Home health professionals can take the best care
                                of
                                themselves and their patients by learning about their diagnosis and being able to
                                discuss with
                                them the signs, symptoms, and range of emotions they may be going through.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">                        
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" ng-click="saveTextSize(fontsize)">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <!-- Modal -->
    <!--<div class="modal fade" id="glossary-words" tabindex="-1" role="dialog" aria-labelledby="glossary-words"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="row">
						<div class="col-lg-12">						
							<div class="title-section">
								<h4>
									<img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
									<strong>Glossary Words: </strong>
								</h4> 
								<span class="title">{[ courseData.number ]}</span>								
							</div>
							<div class="col-lg-3 col-xs-3 col-sm-3 col-md-3" style="float:right;margin-top:10px;">
	                            <input type="search" ng-model="search.word" class="form-control" placeholder="search..."/>
	                        </div>
							<a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" data-dismiss="modal">X</a>							
						</div>
					</div>
                </div>                
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                            <div class="glossary-headings">
                                <div class="row">
                                    <div class="col-xs-4 col-xs-4  ">
                                        <strong class="word">Word</strong>
                                    </div>
                                    <div class="col-xs-4 col-xs-4  ">
                                        <strong class="syllable">Syllables</strong>
                                    </div>
                                    <div class="col-xs-4 col-xs-4  ">
                                        <strong class="pronounce">Pronunciation</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                            <div class="scroll">
                                <div class="row animate-repeat"
                                     ng-repeat="glossary_words in courseData.glossary_words | filter:search">
                                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                        <div class="row">
                                            <div class="col-xs-4  ">
                                                <strong><a class="word"
                                                           ng-bind-html="to_trusted(glossary_words.word)"></a>
                                                </strong>
                                            </div>
                                            <div class="col-xs-4  ">
                                                <strong><a class="syllable"
                                                           ng-bind-html="to_trusted(glossary_words.syllable)"></a></strong>
                                            </div>
                                            <div class="col-xs-4  ">
                                                <strong>/<a class="pronounce"
                                                            ng-bind-html="to_trusted(glossary_words.pronounce)"></a>/</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                                <div class="callout callout-green">
                                                    <small>
                                                        <span class="definition"
                                                           ng-bind-html="to_trusted(glossary_words.definition)"></a>
                                                    </small>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">                        
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">
                            <button type="button" class="btn btn-default screen" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-print print screen">
                                PRINT
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <!-- Modal -->
	<!--<div class="modal fade" id="resource_info_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	     aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">					
					<div class="row">
						<div class="col-lg-12">						
							<div class="title-section">
								<h4>
									<img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
									<strong>Title: </strong>
								</h4> 
								<span class="title">{[ currentResource.resource_name ]}</span>
							</div>
							<a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" data-dismiss="modal">X</a>							
						</div>
					</div>		
				</div>
				<div class="modal-body list-info">
					<div class="row">
						<ul class="list-unstyled list-info">
							<li class="ng-binding">							
								<label>Summary: </label>										
								<p ng-bind-html="to_trusted(currentResource.resource_short_description)"></p>
							</li>
							<li ng-hide="currentResource.resource_identifier==''">
								<label>Identifier: </label> 
								<p>{[ currentResource.resource_identifier ]}</p>
							</li>
							<li>
								<label>Revision: </label> 
								<p>{[ currentResource.resource_revision_date_or_version | date : "M/d/yyyy" ]}</p>
							</li>
							<li>
								<label>HH Updated: </label> 
								<p>{[ currentResource.resource_last_update_date | date : "M/d/yyyy" ]}</p>
							</li>
							<li>
								<label>Language: </label>
								<p>{[ currentResource.language.language ]}</p>
							</li>
							<li>
								<label>Color: </label> 
								<p>{[ currentResource.resource_color ]}</p>
							</li>
							<li>
								<label>Size: </label> 
								<p>{[ currentResource.resourcesizes.size ]}</p>
							</li>
							<li ng-show="currentResource.is_video != 1">
								<label>Pages: </label>
								<p>{[ currentResource.number_of_pages ]}</p>
							</li>
							<li ng-show="currentResource.is_video==1">
								<label>Duration: </label>
								<p>{[ currentResource.video_duration ]}</p>
							</li>
							<li>
								<label>Format(s): </label>
								<a ng-cloak data-ng-repeat="format in currentResource.formats" href="#" class="btn-documents-{[ format.file_extension ]}">
									<i class="filetype {[ format.icon.replace('filetype.','') ]}" ng-click="openDocument(currentResource.id, format.file_extension)" ></i>
								</a>
							</li>							
						</ul>
					</div>
				</div>
				<div class="modal-footer" style="margin-top: 0px;">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close
					</button>
				</div>
			</div>
		</div>
	</div>-->

</div>

{% endblock %}


{% block extra_scripts %}
	<!--<script type="text/javascript" src="{{ STATIC_URL }}dashboard/courses/js/google-tts.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}dashboard/courses/js/soundmanager2.js"></script>-->
	<script type="text/javascript">	
		window.rsConf = {settings: {hlicon: 'off' , hlscroll: 'scrollon'}, general: {usePost: true} };
		//window.rsConf = {general: {usePost: true}};	
	</script>
	<!-- voice params = Kate,Paul,Samantha,Tom,Jeff-->


	<script src="http://f1.eu.readspeaker.com/script/5/ReadSpeaker.js?pids=embhl" type="text/javascript"></script>
	<script type="text/javascript">
	    /*$(document).ready(function(){
	      soundManager.setup({
	        url: '/',
	        preferFlash: false,
	        onready: function() {
	          if (!window.GoogleTTS) {
	            $("#error").text("Sorry, the google-tts script couldn't be loaded.");
	            return;
	          }
	          var googleTTS = new window.GoogleTTS();	          
	          
	          var text = "This course is written for personnel that provide care to homecare and hospice.";
		      $(".readLoud").click(function() {		      	
		      	googleTTS.play(text, 'en', function(err) {
		          if (err) {
		            $("#error").text(err.toString());
		          }
		          console.log('Finished playing');
		        });		      	
		      });		      
		      
	          googleTTS.getPlayer(function (err, player) {
	            if (err) {
	              console.log(err.toString());
	            }	            
	          }); 
	        }
	      });
	    });*/
	   	function speakCourseWord() {
	   		if ($('#readspeaker_button1').hasClass('rsplaying') == true || $('#readspeaker_button1').hasClass('rspaused') == true) {
	   			$('#readspeaker_button1 .rsbtn_pause').click();
	   		} else {	   			
	   			$('#readspeaker_button1 .rsbtn_play').click();
	   		}
	   	}
	   	function speakCourseSummaryWord() {
	   		if ($('#readspeaker_button2').hasClass('rsplaying') == true || $('#readspeaker_button1').hasClass('rspaused') == true) {
	   			$('#readspeaker_button2 .rsbtn_pause').click();
	   		} else {	   			
	   			$('#readspeaker_button2 .rsbtn_play').click();
	   		}
	   	}
	   	
	   	function stopSpeaking() {
	   		if ($('#readspeaker_button1').hasClass('rsplaying') == true || $('#readspeaker_button1').hasClass('rspaused') == true) {
	   			$('#readspeaker_button1 .rsbtn_stop').click();
	   		}
	   		if ($('#readspeaker_button2').hasClass('rsplaying') == true || $('#readspeaker_button2').hasClass('rspaused') == true) {
	   			$('#readspeaker_button2 .rsbtn_stop').click();
	   		}
	   	} 

	</script>

    <script type="text/ng-template" id="courseNotes.html">
        <div class="print-window">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-section">
                            <h4>
                                <img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
                                <strong>Course Notes: </strong>
                            </h4>
                            <span class="title">{[ courseData.number ]}</span>
                        </div>
                        <a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" ng-click="cancel()">X</a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <textarea class="form-control text_course_notes" rows="3" maxlength="{[courseNotesLimit]}"
                          ng-maxlength="{[courseNotesLimit]}" ng-model="courseData.user_notes">{[courseData.user_notes]}</textarea>
                <span class="form-help">{[courseData.user_notes.length]}-{[courseNotesLimit]} Characters</span>
                <p class="p_course_notes" style="display:none;"></p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="saveUserNote(courseNotes)"
                                ng-disabled="courseNotes.length > courseNotesLimit">Save Notes
                        </button>
                        <button type="button" class="btn btn-print print screen" onclick="printCourseNotes()">
                            PRINT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="textSize.html">
        <div class="print-window">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-section">
                            <h4>
                                <img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
                                <strong>Font Size: </strong>
                            </h4>
                            <span class="title">{[ courseData.number ]}</span>
                        </div>
                        <a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" ng-click="cancel()">X</a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <p>
                    Please select font size. Your selection will be saved and selected font size will
                    be used as default font size for your courses.
                </p>
                <div class="row">
                    <div class="col-lg-12">
                        <div style="margin: 15px;">
                            <input id="font_slider"
                                type="text"
                               ui-range-slider
                               data-slider-min="1"
                               data-slider-max="3"
                               data-slider-step="1"
                               data-slider-orientation="horizontal"
                               data-slider-selection="before"
                               data-slider-tooltip="show"
                               data-slider-handle="round"
                               data-ng-model="$parent.fontSize"
                               >
                        </div>
                        <!--data-slider-value="2"-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <strong>Sample Text</strong>

                        <p ng-style="{'font-size':fontSizeSlider}">Home health professionals can take the best care
                            of
                            themselves and their patients by learning about their diagnosis and being able to
                            discuss with
                            them the signs, symptoms, and range of emotions they may be going through.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="saveTextSize(fontsize)">Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="referralAgencies.html">
        <div class="print-window">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-section">
                            <h4>
                                <img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
                                <strong>Referral Agencies: </strong>
                            </h4>
                            <span class="title">{[ courseData.number ]}</span>
                        </div>
                        <a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" ng-click="cancel()">X</a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="callout callout-blue" ng-repeat="agency in courseData.referral_agencies">
                    <h4>{[agency.name]}</h4>
                    <p>{[agency.address1]}<br>
                        <span ng-show="agency.address2 !=''">{[agency.address2]}<br></span>
                        {[agency.city]},&nbsp;{[agency.state]},&nbsp;{[agency.zip]}<br>Phone: {[agency.phone]}<br>
                        <span ng-show="agency.fax !=''">Fax: {[agency.fax]}<br></span>
                        <span ng-show="agency.tty_phone !='' && agency.tty_phone != undefined">TTY: {[agency.tty_phone]}</font><br></span>
                        <span ng-show="agency.tty_phone == '' || agency.tty_phone == undefined">TTY: N/A</font><br></span>
                        {[agency.website]}
                    </p>
                    <p>{[agency.referral_agency_description]}</p>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">
                        <button type="button" class="btn btn-default screen" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-print print screen" onclick="printWindow()">
                            PRINT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="appendix.html">
        <div class="print-window">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-section">
                            <h4>
                                <img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
                                <strong>Appendix: </strong>
                            </h4>
                            <span class="title">{[ courseData.number ]}</span>
                        </div>
                        <a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" ng-click="cancel()">X</a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <p ng-html-compile="courseData.appendix || 'No Appendix Data'"></p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-print print screen" onclick="printWindow()">
                            PRINT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="glossaryWords.html">
        <div class="print-window">
            <div class="modal-header text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-section">
                            <h4>
                                <img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
                                <strong>Glossary Words: </strong>
                            </h4>
                            <span class="title">{[ courseData.number ]}</span>
                        </div>
                        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3" style="float:right;margin-top:10px;">
                            <input type="search" ng-model="search.word" class="form-control" placeholder="search..."/>
                        </div>
                        <a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" ng-click="cancel()">X</a>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                        <div class="glossary-headings">
                            <div class="row">
                                <div class="col-xs-4 col-xs-4  ">
                                    <strong class="word">Word</strong>
                                </div>
                                <div class="col-xs-4 col-xs-4  ">
                                    <strong class="syllable">Syllables</strong>
                                </div>
                                <div class="col-xs-4 col-xs-4  ">
                                    <strong class="pronounce">Pronunciation</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                        <div class="scroll">
                            <div class="row animate-repeat"
                                 ng-repeat="glossary_words in courseData.glossary_words | filter:search">
                                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-4  ">
                                            <strong><a class="word"
                                                       ng-html-compile="glossary_words.word"></a>
                                            </strong>
                                        </div>
                                        <div class="col-xs-4  ">
                                            <strong><a class="syllable"
                                                       ng-html-compile="glossary_words.syllable"></a></strong>
                                        </div>
                                        <div class="col-xs-4  ">
                                            <strong>/<a class="pronounce"
                                                        ng-html-compile="glossary_words.pronounce"></a>/</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                                            <div class="callout callout-green">
                                                <small>
                                                    <span class="definition"
                                                       ng-html-compile="glossary_words.definition"></span>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12 screen text-center">
                        <button type="button" class="btn btn-default screen" ng-click="cancel()">Cancel</button>
                        <button type="button" class="btn btn-print print screen" onclick="printWindow()">
                            PRINT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="currentResource.html">
        <div class="print-window">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-section">
                            <h4>
                                <img src="{{ STATIC_URL }}dashboard/common/images/favicon.png" width="32px">
                                <strong>Title: </strong>
                            </h4>
                            <span class="title">{[ currentResource.resource_name ]}</span>
                        </div>
                        <a class="" style="float: right; position: absolute; right: 10px;top: 4px;" href="#" ng-click="cancel()">X</a>
                    </div>
                </div>
            </div>
            <div class="modal-body list-info">
                <div class="row">
                    <ul class="list-unstyled list-info">
                        <li class="ng-binding">
                            <label>Summary: </label>
                            <p ng-html-compile="currentResource.resource_short_description"></p>
                        </li>
                        <li ng-hide="currentResource.resource_identifier==''">
                            <label>Identifier: </label>
                            <p>{[ currentResource.resource_identifier ]}</p>
                        </li>
                        <li>
                            <label>Revision: </label>
                            <p>{[ currentResource.resource_revision_date_or_version | date : "M/d/yyyy" ]}</p>
                        </li>
                        <li>
                            <label>HH Updated: </label>
                            <p>{[ currentResource.resource_last_update_date | date : "M/d/yyyy" ]}</p>
                        </li>
                        <li>
                            <label>Language: </label>
                            <p>{[ currentResource.language.language ]}</p>
                        </li>
                        <li>
                            <label>Color: </label>
                            <p>{[ currentResource.resource_color ]}</p>
                        </li>
                        <li>
                            <label>Size: </label>
                            <p>{[ currentResource.resourcesizes.size ]}</p>
                        </li>
                        <li ng-show="currentResource.is_video != 1">
                            <label>Pages: </label>
                            <p>{[ currentResource.number_of_pages ]}</p>
                        </li>
                        <li ng-show="currentResource.is_video==1">
                            <label>Duration: </label>
                            <p>{[ currentResource.video_duration ]}</p>
                        </li>
                        <li>
                            <label>Format(s): </label>
                            <a ng-cloak data-ng-repeat="format in currentResource.formats" href="#" class="btn-documents-{[ format.file_extension ]}">
                                <i class="filetype {[ format.icon.replace('filetype.','') ]}" ng-click="openDocument(currentResource.id, format.file_extension)" ></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-default" ng-click="cancel()">Close
                </button>
            </div>
        </div>
    </script>
{% endblock %}