{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<h1 class="span12">Courses</h1>

			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Courses</li>
				</ul>
			</div>

		</div>
		<!-- end row-->


		<div class="row">
			<div class="span12">
				<img src="{{ STATIC_URL }}website/common/pages/plan/1170x300.gif">

			</div>
		</div>


		<div class="row mtl">
			<div class="span6">
				<h4>COURSE ASSIGNMENTS</h4>

				<p>In about one minute an employee can be loaded into the system and be automatically
					assigned a course curriculum that is designed for their specific job
					description.</p>
			</div>

			<div class="span6">
				<h4>COURSE CATEGORIES</h4>

				<p>HHLEARN's courses are methodically constructed, thoroughly tested, designed by
					industry professionals, and professionally written for the adult learner.</p>
			</div>
			<div class="span6">
				<h4>COURSE TYPES</h4>

				<p>The courses on HHLEARN fall into three different types: general knowledge,
					job-specific knowledge, and continuing education.</p>
			</div>

			<div class="span6">
				<h4>COURSE CUSTOMIZATION</h4>

				<p>HHLEARN has features designed so that each organization can modify an existing course
					curriculum (or start from scratch) to meet its exact needs.</p>
			</div>

		</div>

		<div class="row">
			<div class="span12">
				<h3 class="mbl mtl pbm border">WHAT COURSE CATEGORIES ARE COVERED?

				</h3>

			</div>
		</div>

		<div class="row">
			<div class="span3">

				<ul class="unstyled">
					<li>Accounting & Finance</li>
					<li>Administrative Support</li>
					<li>Anatomy & Physiology
					</li>
					<li>Billing & Reimbursement
					</li>
					<li>Clinical</li>
					<li>Credit & Collection
					</li>
					<li>Custom Courses
					</li>
					<li>Customer Service
					</li>
				</ul>
			</div>


			<div class="span3">

				<ul class="unstyled">
					<li>Diseases & Conditions
					</li>
					<li>Distribution</li>
					<li>HHLEARN Specific Courses
					</li>
					<li>Hospice & Respite Care
					</li>
					<li>Human Resources & Personnel
					</li>
					<li>Information Technology
					</li>
					<li>Inventory Management
					</li>
					<li>Management & Leadership
					</li>
				</ul>
			</div>


			<div class="span3">

				<ul class="unstyled">
					<li>Medical Equipment
					</li>
					<li>Medication Administration
					</li>
					<li>Monthly Safety
					</li>
					<li>Organizational Compliance
					</li>
					<li>Patient Care
					</li>
					<li>Pharmacy
					</li>
					<li>Quality Assurance & Risk Management
					</li>
					<li>Rehabiltation</li>
				</ul>
			</div>


			<div class="span3">
				<ul class="unstyled">
					<li>Repair and Service
					</li>
					<li>Retail Operations
					</li>
					<li>Safety (General)
					</li>
					<li>Sales & Marketing
					</li>
					<li>Software</li>
					<li>Staff Education
					</li>
					<li>Tutorials</li>
					<li></li>
				</ul>

			</div>


		</div>


	</div> <!-- end container-->
{% endblock %}