{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<h1 class="span12">Email Verification</h1>
		</div>


		<div class="row">
			<div class="span12 plan-box">

				<h2 class="mbl mtl text-center"><i class="fa fa-info-circle"></i> {{ message }}</h2>


			</div>
		</div>
	</div>

{% endblock %}
