{% extends "dashboard/_master.html" %}
{% block title %}HHLEARN - Dashboard - Location Setup{% endblock %}
{% block meta_title %}HHLEARN{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}



{% block content %}
<div class="page page-admin-setup" id="step_location" ng-app="step_location">
	<div class="row">
		 <div class="col-lg-12">
            <ol class="breadcrumb-alt">
                <li><a  href="{%  url 'dashboard_home' %}">Administrator</a></li>
                <li><a href="">Setup</a></li>
                <li class="active"><a href="">Step2</a></li>
            </ol>
        </div>
	</div>

	<div class="row">
		<div class="col-lg-12">
    		<div class="panel panel-default table-dynamic">
    			<div class="panel-heading">
    				<strong><span class="fa fa-cogs"></span>&nbsp;&nbsp;Step&nbsp;&nbsp;2.3</strong>    				
                </div>
                <div class="panel-body row">
					<div class="col-lg-12" style="padding: 0px; margin-top: -15px; ">
						<img width="100%" src="{{ STATIC_URL }}admin/images/setup/headers/2.2.jpg">					
						<div class="setup-progress">
							<div class="progress">
								<div class="progress-bar progress1" style="width: 20%;">Organizational Setup
									(100%)
								</div>
								<div class="progress-bar progress2" style="width: 20%;">
									Location Setup (30%)
								</div>
								<div class="progress-bar progress3" style="width: 20%;">
									Department Setup (0%)
								</div>
								<div class="progress-bar progress4" style="width: 20%;">
									Region Setup (0%)
								</div>
								<div class="progress-bar progress5" style="width: 20%;">Job
									Titles Setup (0%)
								</div>
							</div>
						</div>
					</div>

					<form method="post" action="{{ request.path }}" id="step_location" ng-controller="LocationForm as settings">
						{% csrf_token %}
						<div class="setup-help text-right">
							<a href="#" data-toggle="modal" data-target="#help-video"><i class="fa fa-film"></i> Watch Me</a>
						</div>
						
						<div class="col-lg-12">	
							<div class="row">	
								<!-- Modal -->
								<div class="modal fade" id="help-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
												<h4 class="modal-title" id="myModalLabel">HHLEARN -
													Setup Help Video</h4>
											</div>
											<div class="modal-body">
												<iframe width="560" height="315" src="//www.youtube.com/embed/6v2L2UGZJAM" frameborder="0" allowfullscreen></iframe>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">
													Close
												</button>
					
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
								<!-- /.modal -->
							</div>

							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									{% if organization.total_number_of_locations > 1 %}
										<p>
						
											Thank you for providing your information. Current federal regulations mandate employee training on topics that require
											your organization's specific information. Please provide the below information for each location so HHLEARN can
											customize each course with your exact information..
										</p>
						
										<p>
											Please keep in mind that the information below is general location information. You will be given the opportunity to
											refine these data for any department you may want to define further in the setup process.
										</p>
									{% endif %}
						
									{% if organization.total_number_of_locations == 1 %}
										<p>
											Thank you for providing your information. Current federal regulations mandate
											employee training on topics that require your organization's specific
											information. Please provide the below information for your location so HHLEARN
											can customize each course with your exact information
										</p>
									{% endif %}
								</div>
							</div>
						
							{{ formset.management_form }}
							{% for form in formset %}
						
								{{ form.id }}
						
								<div class="row">
									<div class="col-sm-6 col-md-6 col-lg-6">
										<div class="form-group  {% if form.short_name.errors %}has-error{% endif %}">
											<label for="short_name">
												{{ form.short_name.label }}</label>
											<span class="label label-important">{{ form.short_name.errors|first }}</span>
											{{ form.short_name }}
										</div>
									</div>
								</div>
						
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group  {% if form.no_of_fire_exists.errors %}has-error{% endif %}">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="no_of_fire_exists">
														{{ form.no_of_fire_exists.label }}</label>
												</div>
											</div>
						
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<span class="label label-important">{{ form.no_of_fire_exists.errors|first }}</span>
													<div class="form-controls">
														{{ form.no_of_fire_exists }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
						
								</div>
						
						
						
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group  {% if form.where_written_hazard_located.errors %}has-error{% endif %}">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="eer_location">
														{{ form.where_written_hazard_located.label }}</label>
												</div>
											</div>
						
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">													
													<span class="label label-important">{{ form.where_written_hazard_located.errors|first }}</span>
													<div class="form-controls">
														{{ form.where_written_hazard_located }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
						
								</div>
						
						
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group  {% if form.when_hazard_prog_available.errors %}has-error{% endif %}">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="eer_location">
														{{ form.when_hazard_prog_available.label }}</label>
												</div>
											</div>
						
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<span class="label label-important">{{ form.when_hazard_prog_available.errors|first }}</span>
													<div class="form-controls">
														{{ form.when_hazard_prog_available }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
						
								</div>
						
						
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group  {% if form.where_safety_data_located.errors %}has-error{% endif %}">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="eer_location">
														{{ form.where_safety_data_located.label }}</label>
												</div>
											</div>
						
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">													
													<span class="label label-important">{{ form.where_safety_data_located.errors|first }}</span>
													<div class="form-controls">
														{{ form.where_safety_data_located }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
						
								</div>
						
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group  {% if form.eer_location.errors %}has-error{% endif %}">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="eer_location">
														{{ form.eer_location.label }}</label>
												</div>
											</div>
						
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<span class="label label-important">{{ form.eer_location.errors|first }}</span>
													<div class="form-controls">
														{{ form.eer_location }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
						
								</div>
						
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group  {% if form.when_eer_available.errors %}has-error{% endif %}">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="when_eer_available">
														{{ form.when_eer_available.label }}</label>
												</div>
											</div>
						
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<span class="label label-important">{{ form.when_eer_available.errors|first }}</span>
													<div class="form-controls">
														{{ form.when_eer_available }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
						
								</div>
						
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group  {% if form.emr_location.errors %}has-error{% endif %}">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="emr_location">
														{{ form.emr_location.label }}</label>
												</div>
											</div>
						
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<span class="label label-important">{{ form.emr_location.errors|first }}</span>
													<div class="form-controls">
														{{ form.emr_location }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
						
								</div>
						
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="form-group  {% if form.when_emr_available.errors %}has-error{% endif %}">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
													<label for="when_emr_available">
														{{ form.when_emr_available.label }}</label>
												</div>
											</div>
						
											<div class="row">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<span class="label label-important">{{ form.when_emr_available.errors|first }}</span>
													<div class="form-controls">
														{{ form.when_emr_available }}
														<span class="icon glyphicon glyphicon-star"></span>
													</div>
												</div>
											</div>
										</div>
									</div>
						
								</div>
						
								<hr/>
						
							{% endfor %}
							
							<div class="row">
								<div class="col-lg-12 text-center">
									<p class="text-center">
										<a href="{% url 'admin_setup_location_2_2' %}" class="btn btn-blue btn-wide setup-back-button hidden-print">Back</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<button type="submit" class="btn btn-blue btn-wide setup-next-button hidden-print">Save
											& Next
										</button>
									</p>								
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block extra_scripts %}
	<script src="/static/dashboard/admin/setup/location/js/location.js"></script>

{% endblock %}