{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			<h1 class="span12">Reporting</h1>

			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Reporting</li>
				</ul>
			</div>

		</div>
		<!-- end row-->

		<div class="row">
			<section class="span12">
				<div class="col-right">
					<div class="main-img">
						<img src="{{ STATIC_URL }}website/common/pages/plan/1170x300.gif">

						<p class="lead span12">Tibique dolores adversarium ne vel. At vide errem
							duo, vis luptatum menandri
							ullamcorper id.</p>
					</div>
					<p>
						All reports on HHLEARN are created in real-time and have many
						customizing attributes. At certain
						time intervals key employees receive emails to alert them to specific
						information that is ready to
						view, which includes what's being completed and what's not being
						performed. HHLEARN stores these
						reports so they are available for viewing at any time and for
						benchmarking data. HHLEARN also
						records each time a key employee opens or downloads these key reports.
						How empowering would you feel
						when you as a company owner can document whether a manager is viewing
						the reports that pertain to
						the employees they manage?
					</p>
					<hr>

					<div class="strip-staff">
						<div class="row">
							<div class="span2 pic-teacher">
								<div class="borders">
									<img src="http://placehold.it/170x125" alt="" class=" img-rounded">
								</div>
							</div>
							<div class="span9">
								<h4>REPORT STORAGE</h4>

								<p>
									Almost every report that can be displayed on
									HHLEARN can be stored for later viewing and
									archiving. If you can print previous reports
									that recorded data at previous periods in
									time, an organization can increase its knowledge
									and use this knowledge to make future
									decisions. </p>

							</div>
						</div>
					</div>


					<div class="strip-staff">
						<div class="row">
							<div class="span2 pic-teacher">
								<div class="borders">
									<img src="http://placehold.it/170x125" alt="" class=" img-rounded">
								</div>
							</div>
							<div class="span9">
								<h4>DASHBOARD</h4>

								<p>
									HHLEARN's dashboard provides a quick overview
									that is tailored for each user. The
									dashboard has key features like storing personal
									and professional information, which
									includes tracking cumulated continuing education
									hours based on the professional's
									renewal period. The dashboard also keeps track
									of priority courses and their assigned
									dates and the user's most recent course
									completions.
								</p>

							</div>
						</div>
					</div>


					<div class="strip-staff">
						<div class="row">
							<div class="span2 pic-teacher">
								<div class="borders">
									<img src="http://placehold.it/170x125" alt="" class=" img-rounded">
								</div>
							</div>
							<div class="span9">
								<h4>STATISTICS</h4>

								<p>
									The statistics column tracks each individual's
									percent completion and weighted grade
									point average, which can be extrapolated into a
									letter grade, and compares it to their
									assigned location.
								</p>

							</div>
						</div>
					</div>


					<!-- End Strip staff -->

					<div class="strip-staff">
						<div class="row">
							<div class="span2 pic-teacher">
								<div class="borders">
									<img src="http://placehold.it/170x125" alt="" class=" img-rounded">
								</div>
							</div>
							<div class="span9">
								<h4>SMART REPORTING</h4>

								<p>
									HHLEARN automatically tailors each report to
									contain the data that is appropriate for
									the viewer. If a user is in charge of three
									locations, their reports will display only
									data that pertains to those three locations. If
									you are the organizational
									administrator, your reports will display data
									that pertains to the entire organization.
								</p>

							</div>
						</div>
					</div>


					<div class="strip-staff">
						<div class="row">
							<div class="span2 pic-teacher">
								<div class="borders">
									<img src="http://placehold.it/170x125" alt="" class=" img-rounded">
								</div>
							</div>
							<div class="span9">
								<h4>SYSTEM ALERTS</h4>

								<p>
									Employee messages can be sent to the entire
									organization, separate locations, different
									departments and regions, and all the way down to
									a specific employee. Each of these
									messages must be acknowledged and the system
									tracks the receipt and non-receipt of each
									message.
								</p>

							</div>
						</div>
					</div>


					<div class="strip-staff">
						<div class="row">
							<div class="span2 pic-teacher">
								<div class="borders">
									<img src="http://placehold.it/170x125" alt="" class=" img-rounded">
								</div>
							</div>
							<div class="span9">
								<h4>COMPLIANCE REPORTING

								</h4>

								<p>
									Compliance reporting mandates affect all
									homecare industries, such as HIPAA,
									accreditation, benchmarking, and employee
									education, and a well-designed compliance
									reporting solution can aid in meeting compliance
									reporting guidelines.


								</p>

							</div>
						</div>
					</div>


					<!-- End Strip staff -->

					<!-- End Strip staff -->


				</div>
			</section>
		</div>

	</div> <!-- end container-->
{% endblock %}