{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}


{% block content %}

	<div class="container">
		<div class="row">
			<h1 class="span12">Benefits</h1>

			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Benefits</li>
				</ul>
			</div>
			<!-- =========================Start Col left section ============================= -->
			<aside class="span4 ">

				<div class="box-style-1 ribbon borders">

					<div class="feat">
						<i class="icon-group icon-3x"></i>

						<h3>Expert teachers</h3>

						<p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his
							cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. </p>
					</div>

					<hr class="double">

					<div class="feat">
						<i class="icon-film icon-3x"></i>

						<h3>Video Courses</h3>

						<p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his
							cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. </p>
					</div>

					<hr class="double">

					<div class="feat">
						<i class="icon-book icon-3x"></i>

						<h3>Library</h3>

						<p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his
							cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. </p>
					</div>

					<hr class="double">

					<div class="feat last">
						<i class="icon-laptop icon-3x"></i>

						<h3>Online courses</h3>

						<p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his
							cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. </p>
					</div>

				</div>
				<p>
					<a href="all-courses.html" title="All courses"><img src="{{ STATIC_URL }}website/common/img/banner.jpg" alt="Banner" class="img-rounded"></a>
				</p>
			</aside>

			<!-- =========================Start Col right section ============================= -->
			<section class="span8">
				<div class="col-right">
					<h2>Simplicity</h2>

					<p>Home health, hospice, and home medical equipment are industries that function
						in a constantly changing environment. This fact makes planning for
						everyday activities, like employee education and employee management,
						very difficult. HHLEARN is designed to simplify these everyday
						tasks.</p>

					<p>HHLEARN takes the guesswork out of employee education and training. HHLEARN
						is designed so that all an organization has to do is assign a job
						description. Once a job description is applied, a course curriculum is
						assigned. Employees can start training immediately. HHLEARN even
						simplifies the monitoring of employee training with automatic email
						reports and alerts.</p>

					<p>By utilizing HHLEARN, an organization will not only better educate and manage
						employees, but the cost to perform these activities will drastically be
						reduced. Adult learners want to learn, and providing them education and
						training on topics they need and want benefits your organization. In
						addition to benefiting the organization, providing employees with the
						education they need and want will increase job satisfaction, which
						translates into better patient care.</p>

					<hr/>


					<h2>Flexibility</h2>


					<p>HHLEARN is an e-learning web site like no other. HHLEARN is designed to
						accommodate each organization's specific needs. HHLEARN has the
						flexibility to match each organizations design. The HHLEARN system has
						the flexibility to setup individual employees, locations, departments,
						areas, and regions. By setting up the system to match each organization,
						HHLEARN fosters a better learning and employment system. After an
						organization is setup, the system takes over and assigns courses and
						monitors performance</p>

					<p>HHLEARN does not make organizations fit into a specific mold. Each
						organization is different and in order to maximize the training of its
						employees, a learning system needs to adapt. HHLEARN not only allows for
						the most flexibility in setup, but also accommodates user preferences
						and needs. HHLEARN has font size adjustments, tracks continuing
						education requirements, and even benchmarks each employee against their
						organization.</p>

					<p>HHLEARN also allows the flexibility to challenge materials an employee
						already knows using the course challenge feature. If an employee has
						sufficient knowledge on a subject, a course can be challenged. Once an
						employee challenges a course, the employee must pass a randomized test
						without viewing the course content. If the employee passes the test,
						they receive credit. No time is wasted reading a course that is already
						known. Having the flexibility to challenge courses allows for a focus on
						topics that can enhance an employee's knowledge.</p>

					<p>Flexibility is the key to maximizing the educational tools that employees
						encounter. Having flexibility is empowering for all learning styles.</p>


					<hr/>

					<h2>Convenience</h2>

					<p>HHLEARN is available 24/7, which means training is accessible on your
						schedule. Training is difficult to schedule, so having the availability
						of 24/7 education can greatly foster a better-trained workforce.</p>

					<p>Because our courses are Internet-based, sending an employee offsite to train
						is not necessary. The convenience of having <i>the training you need at
							the time you need it</i> is critical for nurturing a positive
						working environment. In addition to readily available courses, each
						organization benefits because courses are self-paced. Training can occur
						at work, on the road, or at home. Each learner is unbound by time and
						unbound by place.</p>


					<hr/>


					<h2>Cost and Selection</h2>

					<p>HHLEARN provides a wide range of courses from accounting to the performance
						of specific clinical skills. By having a broad range of training topics,
						employees can take the courses they need to optimize their skills and
						administrators can assign courses for specific organizational needs.
						Having this wide range of courses, in addition to any custom courses you
						may choose to add, allows your true cost to educate employees to be
						substantially reduced. HHLEARN provides an education solution that
						improves education while reducing costs; HHLEARN is a win-win.</p>

				</div>

			</section>

		</div>
		<!-- end row-->
	</div> <!-- end container-->

{% endblock %}

{% block extra_scripts %}

{% endblock %}
