{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

	<div class="container demos-page">
		<div class="row">
			<h1 class="span12">Demos</h1>

			<div class="span12">
				<ul class="breadcrumb">
					<li><a href="#">Home</a> <span class="divider">/</span></li>
					<li class="active">Demos</li>
				</ul>
			</div>
			<!-- =========================Start Col left section ============================= -->
			<div class="span8">
				<iframe id="videolink" src="http://player.vimeo.com/video/66028661?title=0&amp;byline=0&amp;portrait=0" width="650" height="345" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="1"></iframe>
			</div>

			<!-- =========================Start Col right section ============================= -->
			<div class="span4">

				<div class="box-style-2 green">
					<a href="all-courses.html" title="All Courses">
						<img src="/static/website/common/img/icon-home-course.png" alt="">

						<h3>Courses</h3>

						<p>
							Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti
							corpora. Qui cu eros feugiat, elitr iudico ad pri.
						</p>
					</a>
				</div>

				<div class="box-style-2 orange">
					<a href="contact.html" title="Apply">
						<img src="/static/website/common/img/icon-home-apply.png" alt="">

						<h3>Apply now</h3>

						<p>
							Lorem ipsum dolor sit amet, dicta aliquip ad vix, ne sit everti
							corpora. Qui cu eros feugiat, elitr iudico ad pri.
						</p>
					</a>
				</div>
			</div>


		</div>
		<!-- end row-->
		<hr/>

		<div class="row">
			<div class="span3 demo-tutorial">
				<img id="7100569" src="http://placehold.it/270x180"
				     class="rollover"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="710053" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="7100369" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="710029" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>
		</div>

		<div class="row">
			<div class="span3 demo-tutorial">
				<img id="7100269" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="710049" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="7102569" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="7300569" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>
		</div>


		<div class="row">
			<div class="span3 demo-tutorial">
				<img id="71005469" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="71005269" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="71040569" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>

			<div class="span3 demo-tutorial">
				<img id="71005569" src="http://placehold.it/270x180"
				     class="rollover"
				     data-id="7100569"
				     data-videolink="http://player.vimeo.com/video/7100569?title=0&byline=0&portrait=0&autoplay=1"
					/>
				<h4><i class="icon-facetime-video"></i> Video Title</h4>

				<div class="video-time"><i class="icon-time"></i> Time: 02:55</div>
			</div>
		</div>


	</div> <!-- end container-->
{% endblock %}