<!DOCTYPE html>
<html lang="en">
<head>
	<title>Basecamp </title>

	<link href="https://basecamp.global.ssl.fastly.net/assets/application-5d614e7057044f586edd813d93cc1122.css" media="all" rel="stylesheet"/>
	<style>
		html, body {
			background: #fff;
		}

		p {
			margin: 20px 0;
			color: #666;
			font-size: 12px;
		}

		img {
			border: 1px solid #e5e5e5;
			max-width: none;
		}
	</style>

	<meta charset="utf-8">
	<meta content="authenticity_token" name="csrf-param"/>
	<meta content="PBhygAJ+RTU6lkXxAn9BXLKVhl5gHFGCisPMlIfg7vs=" name="csrf-token"/>
</head>

<body>
<p>
	<a href="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980581/MS0124_08.jpg"><img alt="MS0124_08.jpg" height="200" src="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980581/633bc32220351f0fb04f87e426fc13910010/original.jpg" width="300"/></a><br/>
	<a href="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980581/MS0124_08.jpg">MS0124_08.jpg</a>
</p>

<p>
	<a href="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980582/MS0124_08%402x.jpg"><img alt="MS0124_08@2x.jpg" height="200" src="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980582/0de66e35e5ce6d14660287698cf6b4e90010/original.jpg" width="300"/></a><br/>
	<a href="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980582/MS0124_08%402x.jpg">MS0124_08@2x.jpg</a>
</p>

<p>
	<a href="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980583/MS0124_07.jpg"><img alt="MS0124_07.jpg" height="200" src="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980583/b89119e8e23274d29da57df53212e6ee0010/original.jpg" width="300"/></a><br/>
	<a href="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980583/MS0124_07.jpg">MS0124_07.jpg</a>
</p>

<p>
	<a href="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980584/MS0124_07%402x.jpg"><img alt="MS0124_07@2x.jpg" height="200" src="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980584/0de66e959f6ca9dd1e0adb667a4294e00010/original.jpg" width="300"/></a><br/>
	<a href="https://asset1.basecamp.com/2268069/projects/3462515-robert-thompson/attachments/48980584/MS0124_07%402x.jpg">MS0124_07@2x.jpg</a>
</p>

</body>
</html>
