{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
	<header class="page-title">
		<h1>Compliance</h1>
	</header>
	<section class="compliance-primary grid col-1">
		<p>
			The home health industries, homecare nursing, hospice, home medical equipment, and pharmacies,
			are some of the most regulated industries. We must comply with an every-changing list of
			regulations, standards, criteria, and laws. HHLEARN is designed to help organizations comply
			with all industry regulations.
		</p>

		<h2>
			Conditions of Participation
		</h2>

		<p>
			The Centers for Medicare <span class="amp">&amp;</span> Medicaid Services (CMS) develops
			Conditions of Participation (CoPs) and Conditions for Coverage (CfCs) that health care
			organizations must meet in order to begin and continue participating in the Medicare and
			Medicaid programs. These minimum health and safety standards are the foundation for improving
			quality and protecting the health and safety of beneficiaries. CMS also ensures that the
			standards of accrediting organizations recognized by CMS (through a process called
			<i>deeming</i>) meet or exceed the Medicare standards set forth in the CoPs/CfCs.
		</p>

		<p>
			HHLEARN monitors the CoPs and CfCs and incorporates the appropriate content into our courses. By
			utilizing HHLEARN an organization can provide documented evidence that the applicable content is
			being taught and retained by employeesIworkofficeaaall just clicks away.
		</p>

		<h2>
			Accreditation
		</h2>

		<p>
			Being accredited is a requirement for being in the home health industry and accreditation
			standards and criteria are daunting to say the least. Every organization, with the exception of
			a small few, will have to meet new quality standards in order to be able to bill the Medicare.
			Mandatory accreditation is CMS's effort to ensure that Medicare beneficiaries have access to
			high quality services.
		</p>

		<p>
			Depending on the specific home health industry your organization provides care or supplies
			products, the number of accrediting bodies with <i>deemed status</i> can vary greatly. HHLEARN
			maintains a database of all deemed status organizations' standards/criterion and designs our
			courses around them. HHLEARN even maintains a database that connects courses and
			standards/criterion and even dynamically modifies a course to exactly match your accrediting
			body. <b>No one else can do that!</b> Again, reports are available to assist each organization
			to inform you as to which courses instruct on which standards/criterion.
		</p>

		<h2>
			Right to Know
		</h2>

		<p>
			<a href="/images/compliancePhoto_2.gif" id="compliance-photo"><img alt="Course Introduction" rel="#compliance-photo" style="padding:0px 0px 10px 20px; height:100px; width:100px;" src="{{ STATIC_URL }}images/Search.png" align="right"></a>Knowing
			what regulations and laws an organization must comply with is difficult. Many organizations
			operate within the confines of the law, but don't actually know which laws and regulations they
			are complying with. HHLEARN believes that every employee has a right to know what laws and
			regulations they are complying with. All applicable laws and regulations for a specific course
			are listed on the course introduction page along with the course abstract and learning
			objectives. <i>Click on the image to the right to see the entire page.</i>
		</p>

		<p>
			In addition to displaying the applicable laws and regulations at the beginning of every course,
			HHLEARN has reports that can be printed that list the laws and regulations and the specific
			courses they are taught in. This way you are only a click away from being able to answer
			questions like, "How do you teach your staff members about bloodborne pathogens?"
		</p>

		<div class="grid-6 pad1">
			<h2>Section 508 Compliance</h2>

			<p>In 1998 the US Congress amended the Rehabilitation Act (29 U.S.C. § 794d) to require Federal
				agencies to make their electronic and information technology accessible to people with
				disabilities. <b>Section 508</b> was enacted to eliminate barriers in information
				technology, to make available new opportunities for people with disabilities, and to
				encourage development of technologies that will help achieve these goals.</p>

			<p>Section 508 requires that all Web site content be equally accessible to people with
				disabilities. This applies to Web applications, Web pages and all attached files.
				HHLEARN achieves Section 508 compliance by utilizing all available technologies to
				ensure that all content is rendered in ways to make universally accessible, e.g., screen
				reading technology, closed-captioned videos, proper HTML5 coding, etc.</p>

			<h2>
				Federal Compliance
			</h2>

			<p>
				There is a myriad of government agencies that affect the day-to-day operations of
				organizations that provide and supply home health services. The following is a short
				list of federal agencies that HHLEARN will help your organization comply with.
			</p>

			<div class="grid-6 pad2">
				<ul class="link-list">
					<li>Centers for Disease Control and Prevention
					</li>
					<li>Centers for Medicare <span class="amp">&amp;</span> Medicaid Services
					</li>
					<li>Department of Justice
					</li>
					<li>Department of Labor
					</li>
					<li>Department of Transportation
					</li>
					<li>Drug Enforcement Administration
					</li>
					<li>Environmental Protection Agency
					</li>
					<li>Equal Employment Opportunity Commission
					</li>
				</ul>
			</div>
			<div class="grid-6 pad2">
				<ul class="link-list">
					<li>Federal Emergency Management Agency
					</li>
					<li>Federal Motor Carrier Safety Administration
					</li>
					<li>Food and Drug Administration
					</li>
					<li>Immigration and Naturalization Service
					</li>
					<li>Internal Revenue Service
					</li>
					<li>Occupational Safety <span class="amp">&amp;</span> Health Administration
					</li>
					<li>Office for Civil Rights
					</li>
					<li>Office of Inspector General
					</li>
				</ul>
			</div>
			<p>
				HHLEARN develops courses for specific regulatory standards. With HHLEARN monitoring the
				standards, you can be assured that the courses your employees will be taking will be up
				to date. When a regulation changes, and it is critical, the course (or courses) affected
				are automatically assigned and specific mandatory test questions cover the new material.
				<i>You can rely on us to keep your staff compliant.</i>
			</p>
		</div>

		<div class="grid-6 pad1">
			<h2>
				Exclusion Database
			</h2>

			<p>
				The Office of Inspector General (OIG), under this Congressional mandate, established a
				program to exclude individuals and entities affected by these various legal authorities,
				contained in sections 1128 and 1156 of the Social Security Act, and maintains a list of
				all currently excluded parties called the List of Excluded Individuals/Entities (LEIE).
			</p>

			<p>
				An OIG exclusion has national scope, and is important to many institutional health care
				providers because the Congress of the United States established a Civil Monetary Penalty
				($10,000 for each item or service furnished during the period that the person or entity
				was excluded) for institutions that knowingly hire excluded parties.
			</p>

			<p>
				Many organizations don't realize that they have a legal obligation to check potential
				employees against the LEIE database before they hire them and periodically throughout
				their employment. <i>HHLEARN has an option that can <b>automate</b> this feature. If
				your organization elects to utilize this service, your employees will be checked against
				this database automatically.</i>
			</p>
		</div>
		<div class="grid-6 pad1">
			<h2>
				State Compliance
			</h2>

			<p>
				There are many laws and regulations that are mandated at the state level. The federal
				government may dictate minimum standards, but some states choose to make these laws and
				regulations more state-specific or expand upon them.
			</p>

			<p>
				HHLEARN has the capability to modify courses at the state level. An example would be our
				Sexual Harassment training course. If your employees reside in a state with
				state-specific sexual harassment laws, the employee's course will train and test them on
				that specific knowledge, all within the confines of the same course.
			</p>

			<p>
				A benefit of dynamic, state-specific course modification is that if your organization
				has multiple locations in different states, the course each employee receives and is
				tested on will contain correct and pertinent information.
			</p>
		</div>
	</section>

{% endblock %}