{% extends "dashboard/_master.html" %}
{% block title %}Resources{% endblock %}
{% block meta_title %}Resources{% endblock %}
{% block meta_description %}Resources{% endblock %}
{% block meta_keywords %}Resources{% endblock %}


{% block content %}
    <div class="page page-resources">

        <div class="row">
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
	                <a href="#">
	                <span class="box-icon bg-btn7">
	                   <i class="fa fa-file-text"></i>
	                </span>
	                

                    <div class="box-info">
                        <p class="size-h2">852</p>

                        <p class="text-muted"><span data-i18n="Forms">Forms</span></p>
                    </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
                	<a href="#">
	                <span class="box-icon bg-btn2">
	                    <i class="fa fa-paste"></i>
	                </span>

                    <div class="box-info">
                        <p class="size-h2">36</p>

                        <p class="text-muted"><span data-i18n="Custom Forms">Custom Forms</span></p>
                    </div>
                   </a>
                </div>
            </div>
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
                	<a href="#">
	                <span class="box-icon bg-btn8">
	                    <i class="glyphicons book"></i>
	                </span>

                    <div class="box-info">
                        <p class="size-h2">323</p>

                        <p class="text-muted"><span data-i18n="Publications">Publications</span></p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
                	<a href="#">
	                <span class="box-icon bg-btn4">
	                    <i class="glyphicons address_book"></i>
	                </span>

                    <div class="box-info">
                        <p class="size-h2">12</p>

                        <p class="text-muted"><span data-i18n="Custom Publications">Custom Publications</span></p>
                    </div>
                   </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
                	<a href="#">              
	                <span class="box-icon bg-btn5">
	                    <i class="glyphicons film"></i>
	                </span>
                    <div class="box-info">
                        <p class="size-h2">44</p>

                        <p class="text-muted"><span data-i18n="Videos">Videos</span></p>
                    </div>
                   </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
                	<a href="#">
	                <span class="box-icon bg-btn9">
	                    <i class="fa fa-file-video-o"></i>
	                </span>

                    <div class="box-info">
                        <p class="size-h2">2</p>

                        <p class="text-muted"><span data-i18n="Custom Videos">Custom Videos</span></p>
                    </div>
                   </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
                	<a href="#">
	                <span class="box-icon bg-btn6">
	                    <i class="fa fa-image"></i>
	                </span>

                    <div class="box-info">
                        <p class="size-h2">{{ countData.images }}</p>

                        <p class="text-muted"><span data-i18n="Images">Images</span></p>
                    </div>
                    </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">            	
                <div class="panel mini-box">
                <a href="#">
                <span class="box-icon bg-btn1">
                    <i class="glyphicons certificate"></i>
                </span>

                    <div class="box-info">
                        <p class="size-h2">{{ countData.accreditations }}</p>

                        <p class="text-muted"><span data-i18n="Accreditation">Accreditation</span></p>
                    </div>
                </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-xsm-6">
                <div class="panel mini-box">
                	<a href="#">
	                <span class="box-icon bg-btn3">
	                    <i class="glyphicons log_book"></i>
	                </span>

                    <div class="box-info">
                        <p class="size-h2">{{ countData.glossary_words }}</p>

                        <p class="text-muted"><span data-i18n="Glossary Words">Glossary Words</span></p>
                    </div>
                    </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">            	
                <div class="panel mini-box">
                	<a href="#">
	                <span class="box-icon bg-btn13">
	                    <i class="glyphicons bank"></i>
	                </span>

                    <div class="box-info">
                        <p class="size-h2">D</p>

                        <p class="text-muted"><span data-i18n="Medicare B LCDs">Medicare B LCDs</span></p>
                    </div>
                    </a>
                </div>
            </div>
            
            <div class="col-lg-4 col-xsm-6">            	
                <div class="panel mini-box">
                	<a href="#">
	                <span class="box-icon bg-btn10">
	                    <i class="glyphicons database_lock"></i>
	                </span>

                    <div class="box-info">
                        <p class="size-h2">{{ countData.data }}</p>

                        <p class="text-muted"><span data-i18n="Data">Data</span></p>
                    </div>
                    </a>
                </div>
            </div>
        </div>

    </div>



{% endblock %}


{% block extra_scripts %}

{% endblock %}