{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}

	<div class="container">
	<div class="row">
		<h1 class="span12">Choose Your Edition</h1>

		<div class="span12">
			<ul class="breadcrumb">
				<li><a href="#">Home</a> <span class="divider">/</span></li>
				<li class="active">Editions</li>
			</ul>
		</div>

	</div>
	<!-- end row-->

	<div class="row">
		<div class="span12">
			<h3 class="text-center">Select the Edition that Best Fits and Scales to Your Requirements</h3>
		</div>
	</div>


	<div class="row-fluid mtm">
	<div class="table-group">

	<div class="span4">
		<table class="table table-bordered table-hover table-zoom table-zoom-first">

			<tbody>
			<tr>
				<div style="height: 121px;">
				</div>
			</tr>
			<tr>
				<td>Number of Users
				</td>
			</tr>
			<tr>
				<td>Free Continuing Education
				</td>
			</tr>
			<tr>
				<td>Social Media Integration</td>
			</tr>
			<tr>
				<td>Load Custom Resources
				</td>
			</tr>


			<tr>
				<td>Load Custom Courses

				</td>
			</tr>
			<tr>
				<td>Mandatory LEIE Database Checking

				</td>
			</tr>
			<tr>
				<td>Customize Curriculums
				</td>
			</tr>
			<tr>
				<td>Customize Job Descriptions
				</td>
			</tr>


			<tr>
				<td>Support

				</td>
			</tr>
			<tr>
				<td>Metrics/Reporting
				</td>
			</tr>
			<tr>
				<td>Modules<br/>
					<br/> <br/>
					<br/>
					<br/>
					<br/>
					<br/></td>
			</tr>
			<tr>
				<td>All New Features/Add-ons
				</td>
			</tr>


			</tbody>

		</table>
	</div>
	<div class="span4">
		<table class="table table-bordered table-hover table-zoom table-middle">
			<thead>
			<tr>
				<th>
					<h4 class="text-center"><strong>SBE</strong></h4>
					<h4 class="text-center">Small Business Edition </h4>

					<div class="text-center">
						<a href="/plan_details/#sbe" id="submit-newsletter" class="button_medium">
							Learn More</a>
					</div>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<div class="text-center">1 to 50*</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-minus"></i></div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="text-center"><i class="icon-minus"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-minus"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-minus"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-minus"></i></div>
				</td>
			</tr>


			<tr>
				<td>
					<div class="text-center">Email/Live Chat**</div>

				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center">Standard Reports</div>

				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center">Standard Modules<br/>
						<br/> <br/>
						<br/>
						<br/>
						<br/>
						<br/></div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="text-center"><i class="icon-minus"></i></div>
				</td>
			</tr>

			</tbody>
			<tfoot>
			<tr>
				<td>
					<div
						class="text-center">
						<a href="/plans/#sbe" id="submit-newsletter" class="btn-block button_medium">
							Signup</a>
					</div>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
	<div class="span4">
		<table class="table table-bordered table-hover table-zoom table-zoom-last">
			<thead>
			<tr>
				<th>
					<h4 class="text-center"><strong>PRO
					</strong></h4>
					<h4 class="text-center">Professional Edition
					</h4>

					<div class="text-center">
						<a href="/plan_details/#pro" id="submit-newsletter" class="button_medium">
							Learn More</a>
					</div>

				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<div class="text-center">Unlimited*</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>


			<tr>
				<td>
					<div class="text-center">Email/Phone/Live Chat**
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center">Advanced Reports</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center">Standard Modules plus...<br/>
						Inservice Tracker <br/>
						Email Reporting <br/>
						Verﬁed Messaging <br/>
						Benchmarking <br/>
						Custom Surveys <br/>
						Competency Program
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="text-center"><i class="icon-ok"></i></div>
				</td>
			</tr>

			</tbody>
			<tfoot>
			<tr>
				<td>
					<div
						class="text-center">
						<a href="/plans/#pro" id="submit-newsletter" class="btn-block button_medium">
							Signup
						</a>
					</div>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>

	</div>
	<!--/table-group-->
	</div>
	<!--/row-->

	<div class="row mbl">
		<div class="span12">
			<p class="text-center">*Total monthly membership fee is based on the total number of users
				enrolled per month.
				**Live Chat when available.</p>
		</div>
	</div>

	</div> <!-- end container-->
{% endblock %}