{% extends "dashboard/_master.html" %}
{% block title %}HHLEARN - Dashboard{% endblock %}
{% block meta_title %}HHLEARN{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}



{% block content %}
	<div class="dashboard_admin_setup">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
				<div class="heading">
					<h4>Organizational Setup</h4>

					<p>
						<a href="{% url 'dashboard_admin_setup' %}">Home</a>
						<i class="fa fa-angle-double-right"></i>
						Welcome
					</p>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
				<img width="100%" src="{{ STATIC_URL }}admin/images/setup/headers/01.0.jpg">

			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
				<div class="setup_header_info_bar pam">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
							Welcome
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
							Step 1
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
				<div class="setup-progress">
					<div class="progress">
						<div class="progress-bar" style="width: 20%;">Organizational Setup
							(0%)
						</div>
						<div class="progress-bar progress-bar-warning" style="width: 20%;">
							Location Setup (0%)
						</div>
						<div class="progress-bar progress-bar-danger" style="width: 20%;">
							Department Setup (0%)
						</div>
						<div class="progress-bar progress-bar-success" style="width: 20%;">
							Region Setup (0%)
						</div>
						<div class="progress-bar progress-bar-info" style="width: 20%;">Job
							Titles Setup (0%)
						</div>
					</div>
				</div>
			</div>
		</div>


	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
			<div class="setup-help text-right">
				<a href="#" data-toggle="modal" data-target="#help-video"><i class="fa fa-film"></i> Watch Me</a>
			</div>
		</div>
	</div>


		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
				<div class="setup-info-text text-left">
					<!--<p>
					       Throughout course presentations and in management reporting, we need to know the Corporate name you would like
						to appear on/in these documents.  Don't worry if you have multiple locations with different names and DBAs,
						we will get to those location names in future pages.
					</p> -->


					<h4>Welcome to HHLEARN!</h4>

					<p>
						In order to start using your new learning management system, your organization must load information into the system in order for us to be able
						to customize your courses, data and experiences.
					</p>

					<p>
						HHLEARN is extremely flexible when it comes to being setup, which means you can set it up with minimal detail or provide
						greater information to benefit from a more refined learning and managing experience. Don't be hesitant to set it up simply in
						the beginning because you can always adjust the setup settings and features any time.
					</p>

					<p>
						Above, you will see a progress bar that will follow and update as you progress through the loading steps. Below and to the right of each progress
						bar there is a <i class="fa fa-film"></i> "Watch Me" icon that will provide you with a quick tour of the page you are currently completing.

						All steps must be completed (whether simply or in great detail) before organizations may start loading users into the system.
					</p>

					<p>
						You do not have to complete he entire setup process at one time; HHLEARN will keep track of your setup progress and will direct you to where you left off&mdash;just
						make sure you save the page you are working prior to logging out.
					</p>

					<p>
						Again, we wish you a warm welcome. Shall we get started?
					</p>

					<p>
						Please click on the next button
					</p>

					<p class="text-center">
						<a href="{% url 'dashboard_admin_setup_organization_1_1' %}" class="btn btn-info btn-wide">Next</a>
					</p>

					<!-- Modal -->
					<div class="modal fade" id="help-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel">HHLEARN - Setup Help Video</h4>
								</div>
								<div class="modal-body">
									<iframe width="560" height="315" src="//www.youtube.com/embed/6v2L2UGZJAM" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

								</div>
							</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</div>
			</div>
		</div>

	</div>
{% endblock %}

{% block extra_scripts %}

{% endblock %}