{% extends "dashboard/_master.html" %}
{% block title %}HHLEARN - Dashboard - Location Setup{% endblock %}
{% block meta_title %}HHLEARN{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}



{% block content %}
	<div class="dashboard_admin_setup" id="step_location" ng-app="step_location">
	<form method="post" action="{{ request.path }}" ng-controller="LocationForm as settings">
	{% csrf_token %}
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
			<div class="heading">
				<h4>Location Setup</h4>

				<p>
					<a href="{% url 'dashboard_admin_setup' %}">Home</a>
					<i class="fa fa-angle-double-right"></i>
					Welcome
				</p>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
			<img width="100%" src="{{ STATIC_URL }}admin/images/setup/headers/2.2.jpg">

		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
			<div class="setup_header_info_bar pam">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
						Location Setup
					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
						Step 2.3.4
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
			<div class="setup-progress">
				<div class="progress">
					<div class="progress-bar" style="width: 20%;">Organizational Setup
						(100%)
					</div>
					<div class="progress-bar progress-bar-warning" style="width: 20%;">
						Location Setup (100%)
					</div>
					<div class="progress-bar progress-bar-danger" style="width: 20%;">
						Department Setup (0%)
					</div>
					<div class="progress-bar progress-bar-success" style="width: 20%;">
						Region Setup (0%)
					</div>
					<div class="progress-bar progress-bar-info" style="width: 20%;">Job
						Titles Setup (0%)
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
			<div class="setup-help text-right">
				<a href="#" data-toggle="modal" data-target="#help-video"><i class="fa fa-film"></i>
					Watch Me</a>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="help-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">HHLEARN -
								Setup Help Video</h4>
						</div>
						<div class="modal-body">
							<iframe width="560" height="315" src="//www.youtube.com/embed/6v2L2UGZJAM" frameborder="0" allowfullscreen></iframe>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button>

						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
		</div>

	</div>


	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
			<div class="setup-info-text text-left">
				{% if organization.total_number_of_locations > 1 %}
					<p>As we mentioned in step 1.6, you can further refine the designated officials
						for your
						locations. Below you will see the designated officials that you noted
						were not
						consistent across the entire organization. Enter the correct information
						for the
						location displayed at the top. You also have this similar question to
						answer, “Applies
						to Entire Location?” Answering “No” to this question will provide you a
						way to further
						define these individuals at a Department Level. </p>

					<p>Because you have more than one location loaded, each location’s designated
						officials
						will display one after another. Please enter their information and hit
						the Save & Next
						button to progress to the next location. Once you have completed all
						locations, you will
						be directed to the next section. </p>

					<p>If you do not need any other further breakdown and/or do not intend to add
						any
						Departments to your locations, select “Yes” for the question “Applies to
						Entire
						Location?” </p>

				{% endif %}

				{% if organization.total_number_of_locations == 1 %}
					<p>As we mentioned in step 1.6, you can further refine the designated officials
						for your
						location. Below you will see the designated officials that you noted
						were not consistent
						across the entire organization. Enter the correct information for this
						location. You
						also have this similar question to answer, “Applies to Entire Location?”
						Answering “No”
						to this question will provide you a way to further define these
						individuals at a
						Department Level. </p>

					<p>If you do not need any other further breakdown and/or do not intend to add
						any
						Departments to your location, select “Yes” for the question “Applies to
						Entire
						Location?” </p>
				{% endif %}
			</div>
		</div>
	</div>


	{{ form.id }}

	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="form-group  {% if form.short_name.errors %}has-error{% endif %}">
				<label for="short_name">
					{{ form.short_name.label }}</label>
				<span class="label label-important">{{ form.short_name.errors|first }}</span>
				{{ form.short_name }}
			</div>
		</div>
	</div>


	{{ formset_officials.management_form }}

	{% for form_official in formset_officials %}


		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
				<label for="federal_electronic_postings">{{ form_official.question.value }}</label>
				{{ form_official.question }}
			</div>
		</div>

		<div class="" id="official_box">


			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="form-group">
						<label for="id_officials-0-default_job_title">{{ form_official.default_job_title.label }}</label>
						{{ form_official.default_job_title }}
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="form-group  {% if form_official.organization_job_title.errors %}has-error{% endif %}">
						<label for="id_officials-0-organization_job_title">
							{{ form_official.organization_job_title.label }}</label>
						<span class="label label-important">{{ form_official.organization_job_title.errors|first }}</span>
						{{ form_official.organization_job_title }}
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="form-group {% if form_official.first_name.errors %}has-error{% endif %}  {% if form_official.last_name.errors %}has-error{% endif %}">

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
								<label for="id_officials-0-first_name">First
									and Last Name of
									Contact*</label>

							</div>
						</div>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<span class="label label-important">{{ form_official.first_name.errors|first }}</span>
								{{ form_official.first_name }}

							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<span class="label label-important">{{ form_official.last_name.errors|first }}</span>
								{{ form_official.last_name }}

							</div>

						</div>


					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="form-group  {% if form_official.actual_job_title.errors %}has-error{% endif %}">
						<label for="id_officials-0-actual_job_title">{{ form_official.actual_job_title.label }}</label>
						<span class="label label-important">{{ form_official.actual_job_title.errors|first }}</span>
						{{ form_official.actual_job_title }}
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="form-group {% if form_official.email.errors %}has-error{% endif %}  ">
						<label for="id_officials-0-email">{{ form_official.email.label }}</label>
						<span class="label label-important">{{ form_official.email.errors|first }}</span>
						{{ form_official.email }}
					</div>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<div class="form-group {% if form_official.phone.errors %}has-error{% endif %} ">
						<label for="id_officials-0-phone">{{ form_official.phone.label }}</label>
						<span class="label label-important">{{ form_official.phone.errors|first }}</span>
						{{ form_official.phone }}
					</div>
				</div>

			</div>


			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
								<label for="is_organization_wide">
									{{ form_official.is_location_wide.label }}
								</label>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
								{{ form_official.is_location_wide }}
							</div>
						</div>
					</div>
				</div>
			</div>


			{{ form_official.short_code }}

		</div>
	{% endfor %}

	<hr/>


	<div class="row mtl">
		<div class="col-xs-12 col-sm-12 col-md-12 col-xs-1 col-sm-1 col-md-1 col-lg-12">
			<div class="setup-info-text text-left">

				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
						<p class="text-left">
							<a href="{{ back_button_url }}" class="btn btn-info btn-wide setup-back-button hidden-print">Back</a>
						</p>

					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
						<p class="text-right">
							<button type="submit" class="btn btn-info btn-wide setup-next-button hidden-print">
								Save
								& Next
							</button>

						</p>

					</div>
				</div>

			</div>
		</div>

	</div>
	</form>
	</div>




{% endblock %}

{% block extra_scripts %}
	<script src="/static/dashboard/admin/setup/location/js/location.js"></script>

{% endblock %}