<!DOCTYPE html>
<html lang="en" ng-app="dashboardApp">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}"/>
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}dashboard/common/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'
          type='text/css'>    
          

    {% load compress %}

    {% compress css %}

        <link href="{{ STATIC_URL }}dashboard/common/lib/fontawesome/v4.2.0/css/font-awesome.css" rel="stylesheet">
        
        <!--<link href="{{ STATIC_URL }}dashboard/common/lib/glyphicons/css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}dashboard/common/lib/glyphicons/css/glyphicons.css" rel="stylesheet">-->

        <link href="{{ STATIC_URL }}dashboard/common/lib/toastr/v2.0.2/toastr.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}dashboard/common/lib/angularjs/third-party/angular-xeditable-0.1.8/css/xeditable.css"
              rel="stylesheet">

        <link href="{{ STATIC_URL }}dashboard/common/css/style.css" rel="stylesheet">        

        {% block extra_css %}{% endblock %}

    {% endcompress %}
</head>
<body class="{% block page_class %}{% endblock %} {{ request.session.menu_type }}" data-off-canvas-nav id="app">
<span class="" us-spinner spinner-key="spinner-1"></span>
<!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


{% if request.user.is_authenticated %}
    <div class="no-print">
        <section id="header" class="top-header">
            {% include "dashboard/_header.html" %}
        </section>

        <aside id="nav-container">
            {% include "dashboard/_nav.html" %}
        </aside>
    </div>


{% endif %}

<div class="view-container">
    <section id="content" class="animate-fade-up">
        {% block content %}{% endblock %}
        <div class="printable"> </div>
    </section>
</div>

<!-- /.container -->


<!-- <footer>
	<div id="footer" class="bottom-menu bottom-menu-inverse dash-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center mtl copyright">
					© 2014 Telephonic, Inc. All rights reserved.
				</div>
			</div>
		</div>
	</div>
</footer>  -->

{% load compress %}

{% compress js %}
    <!-- Load JS here for greater good =============================-->
    <!--<script src="{{ STATIC_URL }}dashboard/common/lib/jquery/v1.11.0/jquery-1.11.0.min.js"></script>-->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{ STATIC_URL }}dashboard/common/js/vendor.js"></script>


    <script src="{{ STATIC_URL }}dashboard/common/lib/bootstrap-sortable/v2.0.0/js/bootstrap-sortable.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/lib/jquery-tags-input/v1.3.3/jquery.tagsinput.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/lib/jquery-placeholder/v2.0.7/jquery.placeholder.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/lib/jquery-input-mask/v1.3.1/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/lib/date/date.js"></script>

    <script src="{{ STATIC_URL }}dashboard/common/lib/underscorejs/v1.6.0/underscore-min.js"></script>

    <script src="{{ STATIC_URL }}dashboard/common/js/quiz_oc0300.2.js"></script>


    <script src="{{ STATIC_URL }}dashboard/common/js/application.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/js/ui.js"></script>
    
    <!--<script src="{{ STATIC_URL }}dashboard/common/lib/angularjs/v1.3.0-beta.13/angular.min.js"></script>-->
    <script src="{{ STATIC_URL }}dashboard/common/lib/angularjs/v1.3.0-beta.13/angular-cookies.min.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/lib/angularjs/v1.3.0-beta.13/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/lib/angularjs/third-party/angular-base64.min.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/lib/angular-modal-service/angular-modal-service.min.js"></script>
    
{#  <script src="{{ STATIC_URL }}dashboard/common/lib/angularjs/third-party/slider.js"></script>#}
    <!--<script src="{{ STATIC_URL }}dashboard/common/lib/angularjs/third-party/ui-bootstrap/v0.11.0/ui-bootstrap-tpls-0.11.0.min.js"></script>-->
    <script src="{{ STATIC_URL }}dashboard/common/lib/angularjs/third-party/angular-xeditable-0.1.8/js/xeditable.min.js"></script>


    <script src="{{ STATIC_URL }}dashboard/common/lib/spinjs/hacked/spin.min.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/lib/spinjs/hacked/angular-spinner.js"></script>

    <script src="{{ STATIC_URL }}dashboard/common/lib/bootstrap/v3.1.1/js/bootstrap.min.js"></script>

    <script src="{{ STATIC_URL }}dashboard/common/lib/toastr/v2.0.2/toastr.js"></script>

    <script src="{{ STATIC_URL }}dashboard/common/lib/slim-scroll/v1.3.0/jquery.slimscroll.min.js"></script>

    <script src="{{ STATIC_URL }}dashboard/common/lib/momentjs/v2.7.0/moment.min.js"></script>
    
    <script src="{{ STATIC_URL }}dashboard/common/lib/jquery-print/jquery.printElement.min.js"></script>

    <script src="{{ STATIC_URL }}dashboard/common/lib/jquery-cookie/jquery.cookie.js"></script>
    <!--<script src="{{ STATIC_URL }}dashboard/common/lib/flat-ui/js/application.js"></script>-->

    


    <!-- DASBOARD APP -->
    <script src="{{ STATIC_URL }}dashboard/common/js-app/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/js-app/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/js-app/directives.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/js-app/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/common/js-app/services.js"></script>


    <!-- Utils APP -->
    <script src="{{ STATIC_URL }}dashboard/utils/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/utils/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/utils/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/utils/services.js"></script>
    <script src="{{ STATIC_URL }}dashboard/utils/directives.js"></script>

    <!-- Utils APP -->
    <script src="{{ STATIC_URL }}dashboard/profile/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/profile/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/profile/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/profile/services.js"></script>


    <!-- Language APP -->
    <script src="{{ STATIC_URL }}dashboard/lang/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/lang/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/lang/directives.js"></script>
    <script src="{{ STATIC_URL }}dashboard/lang/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/lang/services.js"></script>


    <!-- LOGIN FILES -->
    <script src="{{ STATIC_URL }}dashboard/auth/login/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/login/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/login/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/login/services.js"></script>

    <!-- SIGNUP FILES -->
    <script src="{{ STATIC_URL }}dashboard/auth/signup/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/signup/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/signup/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/signup/services.js"></script>

    <!-- RESET FILES -->
    <script src="{{ STATIC_URL }}dashboard/auth/reset/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/reset/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/reset/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/auth/reset/services.js"></script>


    <!-- PROFILE FILES -->
    <script src="{{ STATIC_URL }}dashboard/profile/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/profile/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/profile/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/profile/services.js"></script>

    <!-- COURSES FILES -->
    <script src="{{ STATIC_URL }}dashboard/courses/js-app/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/courses/js-app/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/courses/js-app/directives.js"></script>
    <script src="{{ STATIC_URL }}dashboard/courses/js-app/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/courses/js-app/services.js"></script>

    <!-- assignments FILES -->
    <script src="{{ STATIC_URL }}dashboard/assignments/js-app/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/assignments/js-app/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/assignments/js-app/directives.js"></script>
    <script src="{{ STATIC_URL }}dashboard/assignments/js-app/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/assignments/js-app/services.js"></script>
    
    <!-- tests FILES -->
    <script src="{{ STATIC_URL }}dashboard/tests/js-app/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/tests/js-app/controllers.js"></script>
    <!--<script src="{{ STATIC_URL }}dashboard/tests/js-app/directives.js"></script>-->
    <script src="{{ STATIC_URL }}dashboard/tests/js-app/factory.js"></script>
    <!--<script src="{{ STATIC_URL }}dashboard/tests/js-app/services.js"></script>-->
    
    <!-- history Files -->
    <script src="{{ STATIC_URL }}dashboard/history/js-app/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/history/js-app/controllers.js"></script>    
    <script src="{{ STATIC_URL }}dashboard/history/js-app/factory.js"></script>
    <script src="{{ STATIC_URL }}dashboard/history/js-app/directives.js"></script>
    
    <!-- chart Files -->
    <script src="{{ STATIC_URL }}dashboard/chart/chartctrl.js"></script>
    <script src="{{ STATIC_URL }}dashboard/chart/chartdirective.js"></script>
    <script src="/static/dashboard/metrics/js/app.js"></script>
	<script src="/static/dashboard/metrics/js/controllers.js"></script>
	<script src="/static/dashboard/metrics/js/factory.js"></script> 
	 
	<!-- documents FILES -->
    <script src="{{ STATIC_URL }}dashboard/documents/js/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/documents/js/controllers.js"></script>    
    <script src="{{ STATIC_URL }}dashboard/documents/js/factory.js"></script>
    
    <!-- tasks FILES -->
    <script src="{{ STATIC_URL }}dashboard/tasks/js-app/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/tasks/js-app/controllers.js"></script>
    <script src="{{ STATIC_URL }}dashboard/tasks/js-app/directives.js"></script>
    <script src="{{ STATIC_URL }}dashboard/tasks/js-app/factory.js"></script>
    
 	<!-- alerts FILES -->
    <script src="{{ STATIC_URL }}dashboard/alerts/js/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/alerts/js/controllers.js"></script>    
    <script src="{{ STATIC_URL }}dashboard/alerts/js/factory.js"></script>
    
    <!-- messages FILES -->
    <script src="{{ STATIC_URL }}dashboard/messages/js/app.js"></script>
    <script src="{{ STATIC_URL }}dashboard/messages/js/controllers.js"></script>    
    <script src="{{ STATIC_URL }}dashboard/messages/js/factory.js"></script>
    
    <!-- academic FILES -->
    <script src="{{ STATIC_URL }}reporting/academic/js-app/app.js"></script>
    <script src="{{ STATIC_URL }}reporting/academic/js-app/controllers.js"></script>
    <script src="{{ STATIC_URL }}reporting/academic/js-app/directives.js"></script>
    
    <!-- users FILES -->
    <script src="{{ STATIC_URL }}admin/users/js/app.js"></script>
    <script src="{{ STATIC_URL }}admin/users/js/controllers.js"></script>
    <script src="{{ STATIC_URL }}admin/users/js/directives.js"></script>
    <script src="{{ STATIC_URL }}admin/users/js/factory.js"></script>    

{% endcompress %}

{% block extra_scripts %}


{% endblock %}


</body>
</html>