{% extends "dashboard/_master.html" %}
{% block title %}Dashboard - Sandbox Test Page{% endblock %}
{% block meta_title %}Dashboard - Sandbox Test Page{% endblock %}
{% block meta_description %}Dashboard - Sandbox Test Page{% endblock %}
{% block meta_keywords %}Dashboard - Sandbox Test Page{% endblock %}
{% block page_class %}page_dashboard_sandbox{% endblock %}


{% block content %}

<div class="page page-profile">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="no-margin mbm">Courses</h1>

            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title inline">F-16 Flying Course</h3>

                    <h3 class="panel-title panel-right">ID: 234324</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>

                    <div class="row">
                        <div class="col-lg-9">
                            <h3>Learning Objectives</h3>
                            <ol>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit</li>
                                <li>Integer molestie lorem at massa</li>
                                <li>Facilisis in pretium nisl aliquet</li>
                                <li>Nulla volutpat aliquam velit
                                    <ol>
                                        <li>Phasellus iaculis neque</li>
                                        <li>Purus sodales ultricies</li>
                                        <li>Vestibulum laoreet porttitor sem</li>
                                        <li>Ac tristique libero volutpat at</li>
                                    </ol>
                                </li>
                                <li>Faucibus porta lacus fringilla vel</li>
                                <li>Aenean sit amet erat nunc</li>
                                <li>Eget porttitor lorem</li>
                            </ol>
                            <h3>Regulations</h3>
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit</li>
                                <li>Integer molestie lorem at massa</li>
                                <li>Facilisis in pretium nisl aliquet</li>
                                <li>Nulla volutpat aliquam velit</li>
                                <li>Faucibus porta lacus fringilla vel</li>
                                <li>Aenean sit amet erat nunc</li>
                                <li>Eget porttitor lorem</li>
                            </ul>
                        </div>
                        <div class="col-lg-3" data-spy="affix" data-offset="10">
                            <ul>
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipiscing elit</li>
                                <li>Integer molestie lorem at massa</li>
                                <li>Facilisis in pretium nisl aliquet</li>
                                <li>Nulla volutpat aliquam velit</li>
                                <li>Faucibus porta lacus fringilla vel</li>
                                <li>Aenean sit amet erat nunc</li>
                                <li>Eget porttitor lorem</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row text-center">
                        <a href="" class="btn btn-w-md btn-gap-v btn-info">Challenge</a>
                        <a href="" class="btn btn-w-md btn-gap-v btn-info">Pause</a>
                        <a href="" class="btn btn-w-md btn-gap-v btn-info">Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h1 class="no-margin mbm">Courses</h1>

            <div class="panel panel-dark">
                <div class="panel-heading">
                    <h3 class="panel-title inline">F-16 Flying Course</h3>

                    <h3 class="panel-title panel-right">ID: 234324</h3>
                </div>
                <div class="panel-body">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.</p>

                    <div class="row mll">
                        <div class="col-lg-9">
                            <h4>Question 1 of 12</h4>
                            <p class="mlm">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                            the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                            but also the</p>
                            <dd class="mll">
                                <label class="ui-radio block"><input name="radio1" type="radio"
                                                               value="option1"><span>Option 1</span></label>
                                <label class="ui-radio block"><input name="radio1" type="radio" value="option2" checked><span>Option 2</span></label>
                                <label class="ui-radio block"><input name="radio1" type="radio"
                                                               value="option3"><span>Option 3</span></label>
                            </dd>
                        </div>
                    </div>
                    <div class="row text-center">
                        <a href="" class="btn btn-w-md btn-gap-v btn-info">Grade</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}


{% block extra_scripts %}

{% endblock %}