{% extends "website/_page.html" %}
{% block title %}HHLEARN - Home{% endblock %}
{% block meta_description %}HHLEARN{% endblock %}
{% block meta_keywords %}HHLEARN{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
	{% load current_tags %}
	<div class="container">
	<div class="row">
		<div class="span12">
			<img src="{{ STATIC_URL }}website/common/pages/plan/1170x300.gif">

		</div>
	</div>
	<hr/>

	<div class="row">
	<div class="span12 plan-box">

	<ul id="planTab" class="nav nav-tabs">

		<li class="active">
			<a href="#pro" data-toggle="tab">
				Professional Edition
			</a>
		</li>

		<li class="">
			<a href="#sbe" data-toggle="tab">
				Small Business Edition
			</a>
		</li>


	</ul>
	<div id="planTabmyTabContent" class="tab-content">


	<div class="tab-pane active" id="pro">

	<h3 class="mtl text-center">Professional Edition</h3>

	<p>
		A subscription to HHLEARN is only pennies a day. The price to subscribe is based on the range of
		employees
		that are loaded. The pricing points have been designed for common organizational sizes. There is no
		prorating of each employee on the system. Once an employee is deactivated they cannot be reactivated.
		Their records are stored, but cannot be utilized like an active employee. This limitation is only used
		to prevent organizations from turning employees on and off and to keep their employee limits within the
		subscribed quantity.
	</p>

	<div class="row">
		<div class="span12">
			<h4 class="text-left">Plans & Pricing</h4>
		</div>
	</div>

	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					SINGLE USER
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$7.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					2 - 9 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$33.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					10 - 24 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$89.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					25 - 44 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$185.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					50 - 74 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$295.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					75 - 99 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$392.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					100 - 149 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$529.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					150 - 199 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$698.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					200 - 299 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$936.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					300 - 399 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$1223.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					400 - 499 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$1461.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row price-row-last pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					500 - UNLIMITED USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$1500.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	</div>


	<div class="tab-pane" id="sbe">

	<h3 class="mtl text-center">Small Business Edition</h3>

	<p>
		A subscription to HHLEARN is only pennies a day. The price to subscribe is based on the range of
		employees
		that are loaded. The pricing points have been designed for common organizational sizes. There is no
		prorating of each employee on the system. Once an employee is deactivated they cannot be reactivated.
		Their records are stored, but cannot be utilized like an active employee. This limitation is only used
		to prevent organizations from turning employees on and off and to keep their employee limits within the
		subscribed quantity.
	</p>

	<div class="row">
		<div class="span12">
			<h4 class="text-left">Plans & Pricing</h4>
		</div>
	</div>

	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					SINGLE USER
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$7.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					2 - 9 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$33.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					10 - 24 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$89.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					25 - 44 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$185.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					50 - 74 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$295.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					75 - 99 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$392.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					100 - 149 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$529.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					150 - 199 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$698.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					200 - 299 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$936.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					300 - 399 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$1223.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					400 - 499 USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$1461.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="span12 price-row price-row-last pts pbs">
			<div class="row">
				<div class="span4 plan-text">
					500 - UNLIMITED USERS
				</div>

				<div class="span2 text-right offset4 plan-price">
					<div class="price">$1500.00</div>
					<div class="month">MONTH</div>
				</div>


				<div class="span2 text-right">
					<a id="submit-newsletter" href="/signup/" class=" button_medium mts">
						Subscribe</a>
				</div>
			</div>
		</div>
	</div>


	</div>


	</div>
	</div>
	</div>
	</div>

{% endblock %}
